#### Data Types in Python

* Numbers
    * int 56, 78
    * float 3.14, 6.02
    * complex 56+7.5j
* Strings
    * Single Line String "hello World"
    * Multiple line strings """line1  line2 ...... """
* List
    * Homogenous (Array)
    * Hetrogenous
* Tuple

* Dict

* Set

* Frozen Set

Numbers

In [1]:
x = 5
print(type(x), id(x), x)
y = 5.6
print(type(y), id(y), y)
z = 45+45j
print(type(z), id(z), z)

<class 'int'> 140731656610320 5
<class 'float'> 1917002654992 5.6
<class 'complex'> 1917004734928 (45+45j)

In [2]:
x = "hello world"

In [3]:
print(x, type(x))

hello world <class 'str'>

In [4]:
x.upper()

'HELLO WORLD'

#### List

In [5]:
marks = [
    "sachin", 80, "rajat", 78, "nidhi", 67
]

In [6]:
print(type(marks))

<class 'list'>

In [7]:
print(marks)

['sachin', 80, 'rajat', 78, 'nidhi', 67]

In [8]:
new = [ 'manish', 78]

In [9]:
marks.append('kushal')

In [10]:
print(marks)

['sachin', 80, 'rajat', 78, 'nidhi', 67, 'kushal']

In [11]:
marks.append(100) # mutable

In [12]:
print(marks)

['sachin', 80, 'rajat', 78, 'nidhi', 67, 'kushal', 100]

In [13]:
new = [ 'manish', 78]

In [14]:
marks.extend(new)
print(marks)

['sachin', 80, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'manish', 78]

In [15]:
marks.insert(2, "simran")

In [16]:
print(marks)

['sachin', 80, 'simran', 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'manish', 78]

In [17]:
marks.insert(3, 86)

In [18]:
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'manish', 78]

In [19]:
marks[0]

'sachin'

In [20]:
marks[1]

80

In [21]:
marks[:5]

['sachin', 80, 'simran', 86, 'rajat']

In [22]:
marks.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [23]:
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'manish', 78]

In [24]:
i = marks.index('manish')
print(i)

10

In [25]:
item = marks.pop(10)
print(item, "is deleted from list.")

manish is deleted from list.

In [26]:
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 78]

In [27]:
marks.pop()
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100]

In [28]:
marks.extend([ 'rajat', 80])

In [29]:
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'rajat', 80]

In [30]:
marks.remove('rajat')
print(marks)

['sachin', 80, 'simran', 86, 78, 'nidhi', 67, 'kushal', 100, 'rajat', 80]

In [31]:
marks.insert(4, 'rajat')

In [32]:
print(marks)

['sachin', 80, 'simran', 86, 'rajat', 78, 'nidhi', 67, 'kushal', 100, 'rajat', 80]

In [33]:
x = marks.count('rajat')
print(x)

2

In [34]:
done = [ 'append', 'insert', 'extend', 'pop', 'remove', 'index', 'count' ]

In [35]:
print(*[ func for func in dir(list) if func not in done and func[0].islower() ], sep='\n')

clear
copy
reverse
sort

In [37]:
marks.clear() # mutable

In [38]:
marks

[]

In [39]:
print(done)

['append', 'insert', 'extend', 'pop', 'remove', 'index', 'count']

In [40]:
done.reverse()
print(done)

['count', 'index', 'remove', 'pop', 'extend', 'insert', 'append']

In [41]:
done.sort()
print(done)

['append', 'count', 'extend', 'index', 'insert', 'pop', 'remove']

In [42]:
done.extend([ 'clear', 'reverse', 'sort'])

In [43]:
print(done)

['append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'clear', 'reverse', 'sort']

In [45]:
done.sort(reverse=True)

In [46]:
print(done)

['sort', 'reverse', 'remove', 'pop', 'insert', 'index', 'extend', 'count', 'clear', 'append']

### copy

        what is difference between shallow copy and deep copy

In [59]:
one  = [ 'sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi']

In [62]:
print(one, id(one))

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi'] 1917035318216

In [61]:
two = one # we have copied one into two
print(two, id(two))

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi'] 1917035318216

In [63]:
one is two

True

In [51]:
one.append('rajat')
print(one)

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi', 'rajat']

In [52]:
print(two)

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi', 'rajat']

In [64]:
copy = one.copy()

In [65]:
print(one, id(one))
print(copy, id(copy))

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi'] 1917035318216
['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi'] 1917036482120

In [55]:
one.append('nidhi')

In [56]:
print(one)

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi', 'rajat', 'nidhi']

In [57]:
print(copy)

['sachin', 'ramesh', 'aakash', 'sanjana', 'rahul', 'tanvi', 'rajat']

In [69]:
x = [ 5, 6, 3]
y = x # data is not copying, instead id is copied
print(id(x), x)
print(id(y), y)

1917036570120 [5, 6, 3]
1917036570120 [5, 6, 3]

In [70]:
x.append(10)
print(x)
print(y)

[5, 6, 3, 10]
[5, 6, 3, 10]

In [71]:
x = [ 5, 6, 3]
y = x.copy()
print(x, id(x))
print(y, id(y))

[5, 6, 3] 1917002848264
[5, 6, 3] 1917004844040

In [72]:
x.append(10)
print(x)
print(y)

[5, 6, 3, 10]
[5, 6, 3]

In [73]:
old = [ 'java', 'c', 'c++']

In [74]:
new = old.copy()

In [75]:
new.append('python')

In [76]:
print(old)

['java', 'c', 'c++']

In [77]:
print(new)

['java', 'c', 'c++', 'python']

In [78]:
new.append('html')

In [79]:
print(new)

['java', 'c', 'c++', 'python', 'html']

In [80]:
print(old)

['java', 'c', 'c++']

In [85]:
x = [ 6, 5, 7, 3, 7]
#   [ 3, 5, 6, 7, 7]

In [83]:
print(type(x), x)

<class 'list'> [6, 5, 7, 3, 7]

In [84]:
x.sort()

In [86]:
print(x)

[6, 5, 7, 3, 7]

**Nested List**

In [94]:
data = [
    
    [ 70, 60],
    [ 66, 78],
    [ 45, 65],
    [ 76, 56],
]

In [101]:
data.sort(key=sum, reverse=True)
print(data)

[[66, 78], [76, 56], [70, 60], [45, 65]]

In [95]:
data.sort(reverse=True) # ? homogenous --> nested -->

In [96]:
data

[[76, 56], [70, 60], [66, 78], [45, 65]]

In [97]:
from operator import itemgetter

In [99]:
data.sort(key=itemgetter(1), reverse=True)

In [100]:
data

[[66, 78], [45, 65], [70, 60], [76, 56]]

# Tuple

    Immutable List

In [102]:
constant = ( 3.14, 6.02, 'sachin yadav')

In [103]:
print(constant)

(3.14, 6.02, 'sachin yadav')

In [104]:
constant[0]

3.14

In [105]:
constant[1]

6.02

In [106]:
constant[2]

'sachin yadav'

In [107]:
constant[:3]

(3.14, 6.02, 'sachin yadav')

In [110]:
x = [ 5, 4, 7, 3, 4, 5]
x[:3] = [0, 0, 0] # mutablility

In [111]:
print(x)

[0, 0, 0, 3, 4, 5]

In [112]:
constant

(3.14, 6.02, 'sachin yadav')

In [114]:
constant[:2] = [ 1, 2]

TypeError: 'tuple' object does not support item assignment

In [115]:
print(*[func for func in dir(tuple) if func[0].islower()], sep='\n')

count
index

### Dictionary

    Un-Ordered Data Type (no indexing, no slicing)
    
    Map Type Object (each values is mapped to a specific key)
    
    Collection of Key-Value Pairs
    
    Iterable object
    
    Keys are always unique
    
    Mutable type object
    
    eg. { 'name': 'sachin' }

In [121]:
info = {'name': 'sachin', 'age': 24, 'name': 'Sachin Yadav','language': [ 'Hindi', "English" ],'country': 'India', 'blood_group': 'B+ive'}
print(info)

{'name': 'Sachin Yadav', 'age': 24, 'language': ['Hindi', 'English'], 'country': 'India', 'blood_group': 'B+ive'}

In [117]:
info = {
    'name': 'sachin',
    'age': 24,
    'name': 'Sachin Yadav',
    'language': [ 'Hindi', "English" ],
    'country': 'India', 'blood_group': 'B+ive'
}

In [119]:
print(type(info), id(info))

<class 'dict'> 1917038017576

In [120]:
print(info) # ugly print

{'name': 'Sachin Yadav', 'age': 24, 'language': ['Hindi', 'English'], 'country': 'India', 'blood_group': 'B+ive'}

In [122]:
from pprint import pprint
# pretty print
pprint(info)

{'age': 24,
 'blood_group': 'B+ive',
 'country': 'India',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [123]:
info[0] # ?

KeyError: 0

# Methods of Dictionary

* clear
* copy
* fromkeys
* get
* items
* keys
* pop
* popitem
* setdefault
* update
* values

In [124]:
print(dir(info))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [132]:
print(*[ func for func in dir(dict) if func[0].islower()], sep='\n')

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [134]:
'python'[0].islower()

True

In [128]:
'__some'[0].islower()

False

In [133]:
d = { 'name':'sachin', 'age': 24, 'country': 'India'}

**Mutable type of data**

    means we can add or remove key-value pairs from dictionary

In [135]:
print(d.keys())

dict_keys(['name', 'age', 'country'])

In [136]:
print(d.values())

dict_values(['sachin', 24, 'India'])

In [137]:
print(d.items())

dict_items([('name', 'sachin'), ('age', 24), ('country', 'India')])

In [140]:
pprint(d)

{'age': 24, 'country': 'India', 'name': 'sachin'}

In [145]:
d['color'] = 'Fair' # addition

In [146]:
print(d)

{'name': 'sachin', 'age': 24, 'country': 'India', 'color': 'Fair'}

In [147]:
d['name'] = 'Sachin Yadav' # updation

In [148]:
print(d)

{'name': 'Sachin Yadav', 'age': 24, 'country': 'India', 'color': 'Fair'}

In [149]:
copy = d

In [151]:
print(id(d), id(copy))
print(d is copy)

1917037616568 1917037616568
True

In [152]:
copy['location'] = 'Jaipur'

In [153]:
print(d)
print(copy)

{'name': 'Sachin Yadav', 'age': 24, 'country': 'India', 'color': 'Fair', 'location': 'Jaipur'}
{'name': 'Sachin Yadav', 'age': 24, 'country': 'India', 'color': 'Fair', 'location': 'Jaipur'}

In [154]:
copy  = d.copy()

In [155]:
print(id(copy), id(d))
print(d is copy)

1917036580040 1917037616568
False

In [156]:
copy['name'] = 'Python'

In [157]:
print(d)
print(copy)

{'name': 'Sachin Yadav', 'age': 24, 'country': 'India', 'color': 'Fair', 'location': 'Jaipur'}
{'name': 'Python', 'age': 24, 'country': 'India', 'color': 'Fair', 'location': 'Jaipur'}

In [160]:
d = { 'title': "Python is Awesome", 
      'isbn': '1223-345A-BC12'
    }

In [161]:
print(d)

{'title': 'Python is Awesome', 'isbn': '1223-345A-BC12'}

In [162]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['title', 'isbn'])
dict_values(['Python is Awesome', '1223-345A-BC12'])
dict_items([('title', 'Python is Awesome'), ('isbn', '1223-345A-BC12')])

In [163]:
d['author'] = 'Sachin'

In [164]:
print(d)

{'title': 'Python is Awesome', 'isbn': '1223-345A-BC12', 'author': 'Sachin'}

In [170]:
d['name'] # Exceptions or Run Time Error

KeyError: 'name'

In [175]:
d.get('isbn', "No such key")

'1223-345A-BC12'

In [179]:
print(d)

{'title': 'Python is Awesome', 'isbn': '1223-345A-BC12', 'author': 'Sachin'}

In [180]:
key = input("key: ")
data = d.get(key, "No Information Available" )
print(data)

key: isbn
1223-345A-BC12

In [181]:
key = input("key: ")
data = d.get(key, "No Information Available" )
print(data)

key: hello
No Information Available

    set_default
    update

In [182]:
info = { 'name': 'sachin', 'age': 24, 'language': 'English'}

In [183]:
print(info)

{'name': 'sachin', 'age': 24, 'language': 'English'}

In [184]:
value  = info.setdefault('name', 'python')
print(value)
print(info)

sachin
{'name': 'sachin', 'age': 24, 'language': 'English'}

In [185]:
value  = info.setdefault('color', 'fair')
print(value)
print(info)

fair
{'name': 'sachin', 'age': 24, 'language': 'English', 'color': 'fair'}

In [188]:
info.update(name='Sachin Yadav', language=['English', 'Hindi'], country='India')

In [190]:
pprint(info)

{'age': 24,
 'color': 'fair',
 'country': 'India',
 'language': ['English', 'Hindi'],
 'name': 'Sachin Yadav'}

    copy
    clear
    keys
    values
    items
    get
    setdefault
    update

In [197]:
from tqdm import tqdm
from time import sleep

for _ in tqdm(range(600)):
    sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 600/600 [10:00<00:00,  1.00s/it]

In [191]:
print(info)

{'name': 'Sachin Yadav', 'age': 24, 'language': ['English', 'Hindi'], 'color': 'fair', 'country': 'India'}

In [193]:
info['language'].append('Marwadi')

In [194]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['English', 'Hindi', 'Marwadi'],
 'color': 'fair',
 'country': 'India'}

In [195]:
info.get('name', 'no value')

'Sachin Yadav'

In [196]:
info.get('abracadabra', 'no value')

'no value'

In [198]:
data = { 
    '14EARCS094': [ 'sachin', 24, 75],
    '14EARCS034': [ 'samunder', 25, 87],
    '14EARCS056': [ 'nidhi', 22, 78] 
}

In [199]:
print(data.keys())

dict_keys(['14EARCS094', '14EARCS034', '14EARCS056'])

In [200]:
print(data.values())

dict_values([['sachin', 24, 75], ['samunder', 25, 87], ['nidhi', 22, 78]])

In [201]:
print(data.items())

dict_items([('14EARCS094', ['sachin', 24, 75]), ('14EARCS034', ['samunder', 25, 87]), ('14EARCS056', ['nidhi', 22, 78])])

In [202]:
data

{'14EARCS094': ['sachin', 24, 75],
 '14EARCS034': ['samunder', 25, 87],
 '14EARCS056': ['nidhi', 22, 78]}

In [204]:
data['14EARCS094'][0]

'sachin'

In [206]:
info = { 'name': "Python", "current_version": 3.7, 
       'father': 'Guido Van Rossum'}

In [207]:
info['name']

'Python'

In [208]:
info['father']

'Guido Van Rossum'

In [209]:
info['launch_year'] = 1994

In [210]:
print(info)

{'name': 'Python', 'current_version': 3.7, 'father': 'Guido Van Rossum', 'launch_year': 1994}

In [211]:
info.setdefault('name', 'sachin') # only new values add

'Python'

In [212]:
info.setdefault('type', 'Programming Langauge')

'Programming Langauge'

In [213]:
pprint(info)

{'current_version': 3.7,
 'father': 'Guido Van Rossum',
 'launch_year': 1994,
 'name': 'Python',
 'type': 'Programming Langauge'}

In [214]:
info.update(name='Python Prgoramming Language')

In [215]:
pprint(info)

{'current_version': 3.7,
 'father': 'Guido Van Rossum',
 'launch_year': 1994,
 'name': 'Python Prgoramming Language',
 'type': 'Programming Langauge'}

In [216]:
info.update([ ('name', 'Python'), ('website', 'www.python.org' ),  ])

In [218]:
pprint(info)

{'current_version': 3.7,
 'father': 'Guido Van Rossum',
 'launch_year': 1994,
 'name': 'Python',
 'type': 'Programming Langauge',
 'website': 'www.python.org'}

In [219]:
info.clear()

In [220]:
print(info)

{}

In [230]:
info = { 'name': "Python", "current_version": 3.7, 
       'father': 'Guido Van Rossum'}

In [231]:
info.update([ ('name', 'Python'), ('website', 'www.python.org' ),  ])

In [232]:
pprint(info)

{'current_version': 3.7,
 'father': 'Guido Van Rossum',
 'name': 'Python',
 'website': 'www.python.org'}

In [226]:
info.pop('something', 'no such key exists')

'no such key exists'

In [233]:
key = input("key: ")
value = info.pop('current_version')
print(key, "=", value, "is deleted")
print(info)

key: current_version
current_version = 3.7 is deleted
{'name': 'Python', 'father': 'Guido Van Rossum', 'website': 'www.python.org'}

In [228]:
info.popitem()

('website', 'www.python.org')

In [229]:
print(*[ func for func in dir(dict) if func[0].islower()], sep='\n')

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

#### Set Type

    * collection of unique elements
    * follow set propeties
    * Mutable Type
    * Iterable Type
    * Un-ordered
    * values in set should be immutable

    mutable --> list, set, dict

In [234]:
l = [ 
    1, 3.4, 3+5j, 'hello', ['hi', 'list'], ('tuple', 'readable'),
    {'name':'sachin', 'age': 24}, {1, 2, 3, 4}
    ]

In [235]:
print(l)

[1, 3.4, (3+5j), 'hello', ['hi', 'list'], ('tuple', 'readable'), {'name': 'sachin', 'age': 24}, {1, 2, 3, 4}]

In [236]:
d = {
    'int': 5,
    'float': 5.6,
    'complex': 5+6j,
    'string': 'hello',
    'list': [ 1, 2, 3, 4],
    'dict': { 'name': 'sachin', 'age': 24},
    'set': { 1, 1, 1, 1, 2, 3, 4, 51, 2,3 ,4 },
    'bool': True,
    'null': None,
    'forzenset': frozenset({1, 1, 1, 1,2 ,3, 4, 3, 2})
}

In [237]:
pprint(d)

{'bool': True,
 'complex': (5+6j),
 'dict': {'age': 24, 'name': 'sachin'},
 'float': 5.6,
 'forzenset': frozenset({1, 2, 3, 4}),
 'int': 5,
 'list': [1, 2, 3, 4],
 'null': None,
 'set': {1, 2, 3, 4, 51},
 'string': 'hello'}

In [238]:
d = {
    1: 'one',
    2: 'two', 
    3: 'three'
}

In [239]:
print(d[1])

one

In [240]:
print(d[2])

two

In [243]:
d = { 
    ('sachin', 123): 'some secret information',
    'string': 'immutable'
}

In [244]:
d[('sachin', 123)]

'some secret information'

In [245]:
d = { [1, 2]: 'hello'}

TypeError: unhashable type: 'list'

## Set

In [247]:
d = { 1, 1, 1, 1,1 ,1 , 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2,3, 1, 2,3, 4}

In [248]:
print(d, type(d))

{1, 2, 3, 4} <class 'set'>

In [249]:
d.add(10)

In [250]:
print(d)

{1, 2, 3, 4, 10}

In [251]:
d.add(50)

In [252]:
print(d)

{1, 2, 3, 4, 10, 50}

In [253]:
d.update([10, 20, 10, 10, 30, 10, 15, 30, 20])

In [254]:
print(d)

{1, 2, 3, 4, 10, 15, 50, 20, 30}

In [255]:
d.discard(5)

In [256]:
print(d)

{1, 2, 3, 4, 10, 15, 50, 20, 30}

In [257]:
d.discard(15)

In [258]:
print(d)

{1, 2, 3, 4, 10, 50, 20, 30}

In [263]:
d.pop()

1

In [264]:
d.pop()

2

In [265]:
print(d)

{3, 10, 50, 20, 30}

In [259]:
d.remove(4)

In [260]:
print(d)

{1, 2, 3, 10, 50, 20, 30}

In [261]:
d.remove(100)

KeyError: 100

In [262]:
print(*[ func for func in dir(set) if func[0].islower()], sep='\n')

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [266]:
s = { 'hello', 10, 'hi', '1', 1, 2,}

In [267]:
print(s)

{'1', 1, 2, 'hello', 10, 'hi'}

In [268]:
s1 = { 1, 2, 3, 4,}
s2 = { 6, 7, 8, 9}

In [269]:
s1.isdisjoint(s2)

True

In [270]:
s1 = { 1, 2, 3, 4}
s2 = { 4, 5, 6, 7}
s1.isdisjoint(s2)

False

In [271]:
s1 = { 1, 2, 3, 4, 5, 6}
s2  = { 1, 2, 3}

In [272]:
s1.issuperset(s2)

True

In [274]:
s2.issubset(s1)

True

In [275]:
hindi = { 'sachin', 'rajat', 'rahul', 'nidhi', 'kushal'}
english = { 'nikita', 'simran', 'nidhi', 'rahul', 'manish', 'gaurav'}

In [277]:
print(hindi, type(hindi))

{'kushal', 'sachin', 'rajat', 'nidhi', 'rahul'} <class 'set'>

In [278]:
print(english)

{'manish', 'nikita', 'simran', 'gaurav', 'nidhi', 'rahul'}

In [279]:
hindi.intersection(english)

{'nidhi', 'rahul'}

In [280]:
all_users = hindi.union(english)

In [281]:
print(all_users)

{'kushal', 'manish', 'nikita', 'sachin', 'simran', 'rajat', 'gaurav', 'nidhi', 'rahul'}

In [282]:
only_hindi = hindi.difference(english)

In [283]:
only_hindi

{'kushal', 'rajat', 'sachin'}

In [284]:
only_english = english.difference(hindi)

In [285]:
only_english

{'gaurav', 'manish', 'nikita', 'simran'}

In [286]:
eng_hin_only = hindi.symmetric_difference(english)

In [287]:
eng_hin_only

{'gaurav', 'kushal', 'manish', 'nikita', 'rajat', 'sachin', 'simran'}

intersection_update ?

In [288]:
hindi.union(english)

{'gaurav',
 'kushal',
 'manish',
 'nidhi',
 'nikita',
 'rahul',
 'rajat',
 'sachin',
 'simran'}

## FrozenSet

    * Immutable sets

In [289]:
fs = frozenset({ 1, 2,3 ,4 , 5, 6})

In [290]:
print(type(fs), id(fs), fs)

<class 'frozenset'> 1917044628840 frozenset({1, 2, 3, 4, 5, 6})

In [291]:
print(*[ func for func in dir(frozenset) if func[0].islower()], sep='\n')

copy
difference
intersection
isdisjoint
issubset
issuperset
symmetric_difference
union

#### Boolean Values
    
    True --> yes
    
    False --> no

### None Type

In [292]:
x = None

In [293]:
print(x)

None

##### Data Types ?

**Agenda of Tomorrow**

    Use of Data Types

    Type Conversion / Type Casting

    Operators

    Operator Precedence

    Conditional Statements (if-else)

**Databases in Data Type**

    bank
    
    blood_bank
    
    grossary
    
    medical
    
    library
    
    supermarket
    
    kitchen
    
    corona

In [295]:
bank_db = { 

    'SBI001': { 'name': 'sachin', 'balance': 50000, 'password': 'redhat'},
    'SBI2021': { 'name': 'rajat', 'balance': 60000, 'password': 'goyal'}

}

In [296]:
bank_db['SBI001']

{'name': 'sachin', 'balance': 50000, 'password': 'redhat'}

In [297]:
bank_db['SBI001']['name']

'sachin'

In [298]:
bank_db['SBI001']['balance']

50000

In [299]:
bank_db['SBI001']['balance'] -= 15000

In [301]:
bank_db

{'SBI001': {'name': 'sachin', 'balance': 35000, 'password': 'redhat'},
 'SBI2021': {'name': 'rajat', 'balance': 60000, 'password': 'goyal'}}

In [303]:
bank_db.update(SBI1002={ 'name': 'nidhi', 'balance': 45000, 'password': 'iamcool'})

In [304]:
pprint(bank_db)

{'SBI001': {'balance': 35000, 'name': 'sachin', 'password': 'redhat'},
 'SBI1002': {'balance': 45000, 'name': 'nidhi', 'password': 'iamcool'},
 'SBI2021': {'balance': 60000, 'name': 'rajat', 'password': 'goyal'}}