**Write a code to take positive number input ?**

In [2]:
while True:
    flag = False
    number = int(input("Enter a number: "))
    if number > 0:
        flag = True
        break
    else:
        print("\n\nOnly Positive Number Please!!\n\n")

if flag:
    print(f"Good Work Give Positive Number is: {number}")

Enter a number: -2


Only Positive Number Please!!


Enter a number: 3
Good Work Give Positive Number is: 3

In [ ]:
-5
-7
3

In [3]:
while True:
    number = int(input("Enter a number: "))
    if number > 0:
        print(f"Good Work Give Positive Number is: {number}")
        break
    else:
        print("\n\nOnly Positive Number Please!!\n\n")

Enter a number: -1


Only Positive Number Please!!


Enter a number: 3
Good Work Give Positive Number is: 3

**For Loop**

    for is used for iteration purpose

syntax: 

    for item in data:
        st-1
        st-2
        st-3

In [4]:
x = 456

In [5]:
print(*x)

TypeError: print() argument after * must be an iterable, not int

In [6]:
x = "Python"
print(*x, sep='\n')

P
y
t
h
o
n

In [7]:
x = [ 1, 2, 3, 'java']
print(*x, sep=',\t')

1,	2,	3,	java

In [8]:
x = { 'name': 'sachin', 'age': 23}

In [9]:
print(*x)

name age

In [10]:
s = { 1,2 ,3 , 5,6 }

In [11]:
print(*s)

1 2 3 5 6

In [12]:
s = "Python"
for char in s:
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [14]:
s = "Python"
for c in s:
    print(c)

P
y
t
h
o
n

In [16]:
s = "Hello World how are you ? "
vowels = [ 'a', 'e','i','o','u','y']
counter = 0

for char in s:
    if char.lower() in vowels:
        counter += 1
else:
    print("Total Number of Vowels are : ", counter)

Total Number of Vowels are :  9

In [17]:
lang = [ 'java', 'c', 'c++', 'ruby', 'perl', 'python']

In [19]:
for item in lang:
    print(item)
else:
    print("All elements are traversed properly")

java
c
c++
ruby
perl
python
All elements are traversed properly

item search

In [22]:
lang = [ 'java', 'c', 'c++', 'ruby', 'perl', 'python']

key = input("language: ")
for item in lang:
    if item == key:
        print("Item Found")
        break
else:
    print("Item not Found")

language: html
Item not Found

In [29]:
t = ( 5, 4, 2, 5, 6,7 , 8,9, 3, 4, 5, 1, 2,3, 4, 5, 7, 8, 2, 3,4, 5, 6, )

In [30]:
t.count(1)

1

In [37]:
tup = ( 1, 3, 2, 1, 2, 1)
d = { } 
for item in tup:
    if item not in d:
        d[item] = 1
    else:
        d[item] += 1
else:
    print(d)

{1: 3, 3: 1, 2: 2}

In [32]:
print(d)

{5: 5, 4: 4, 2: 3, 6: 2, 7: 2, 8: 2, 9: 1, 3: 3, 1: 1}

In [39]:
data = """
The glorious Hanuma neared the city of Lanka ruled by Ravana, and saw the city which looked like the city of Gods in heaven, decorated by moats filled with lotuses and water-lilies, which was well protected, since the time of Seetha's abduction, by Ravana and by Rakshasas with horrifying voices roaming around, which was surrounded by a golden boundary wall, that beautiful great city consisted of houses equal in height to mountains and which looked like autumnal clouds, with white and elevated main streets, decorated with flags and pennons, with excellent golden hued archways adorned with sculpted rows of vines.
Hanuma saw the city of Lanka equal to peak of Kailasa as though touching the sky, as though flying to reach the sky, with its best mansions, filled with horrible rakshasas and serpants like the city of Bhogavati (capital of Patala), one which was unfathomable, a well arranged and a clear city governed by Kubera in earlier times, protected by courageous, horrible serpents and Rakshasas with mouths with sharp teeth like a cave, with spikes and Pattisas (spears) in their hands. Hanuma saw that Lanka's great protection and the ocean and Ravana the horrible enemy and thought thus.

Standing on that mountain, the elephant among monkeys, Hanuma, saw pine trees, Karnikaras, date-palms in full blossom, Priyalas, lemon trees, wild jasmine trees, mogra trees, long pepper trees filled with sweet fragrance, Kadamba trees and seven leaved banana trees, Asana trees, Kovidaras, Karaviras in full blossom, trees that were tied by the weight of their flowers and flower buds, that were distressed by birds, with their crests moved by wind, wells and various glorious pleasure-groves filled by various trees that give fruits and flowers in all seasons and beautiful gardens also, surrounded by various ponds consisting of swans and ducks.

"""

In [68]:
from nltk.corpus import stopwords
common_words = stopwords.words('english')

In [66]:
wc =  {}
for word in data.split():
    word = word.strip().lower()
    if word in common_words:
        continue
    if word in wc:
        wc[word] = wc[word] +  1
    else:
        wc[word] = 1
print(wc)

{'glorious': 2, 'hanuma': 3, 'neared': 1, 'city': 7, 'lanka': 2, 'ruled': 1, 'ravana,': 1, 'saw': 4, 'looked': 2, 'like': 4, 'gods': 1, 'heaven,': 1, 'decorated': 2, 'moats': 1, 'filled': 4, 'lotuses': 1, 'water-lilies,': 1, 'well': 2, 'protected,': 1, 'since': 1, 'time': 1, "seetha's": 1, 'abduction,': 1, 'ravana': 2, 'rakshasas': 3, 'horrifying': 1, 'voices': 1, 'roaming': 1, 'around,': 1, 'surrounded': 2, 'golden': 2, 'boundary': 1, 'wall,': 1, 'beautiful': 2, 'great': 2, 'consisted': 1, 'houses': 1, 'equal': 2, 'height': 1, 'mountains': 1, 'autumnal': 1, 'clouds,': 1, 'white': 1, 'elevated': 1, 'main': 1, 'streets,': 1, 'flags': 1, 'pennons,': 1, 'excellent': 1, 'hued': 1, 'archways': 1, 'adorned': 1, 'sculpted': 1, 'rows': 1, 'vines.': 1, 'peak': 1, 'kailasa': 1, 'though': 2, 'touching': 1, 'sky,': 2, 'flying': 1, 'reach': 1, 'best': 1, 'mansions,': 1, 'horrible': 3, 'serpants': 1, 'bhogavati': 1, '(capital': 1, 'patala),': 1, 'one': 1, 'unfathomable,': 1, 'arranged': 1, 'clear': 1, 'governed': 1, 'kubera': 1, 'earlier': 1, 'times,': 1, 'protected': 1, 'courageous,': 1, 'serpents': 1, 'mouths': 1, 'sharp': 1, 'teeth': 1, 'cave,': 1, 'spikes': 1, 'pattisas': 1, '(spears)': 1, 'hands.': 1, "lanka's": 1, 'protection': 1, 'ocean': 1, 'enemy': 1, 'thought': 1, 'thus.': 1, 'standing': 1, 'mountain,': 1, 'elephant': 1, 'among': 1, 'monkeys,': 1, 'hanuma,': 1, 'pine': 1, 'trees,': 6, 'karnikaras,': 1, 'date-palms': 1, 'full': 2, 'blossom,': 2, 'priyalas,': 1, 'lemon': 1, 'wild': 1, 'jasmine': 1, 'mogra': 1, 'long': 1, 'pepper': 1, 'trees': 4, 'sweet': 1, 'fragrance,': 1, 'kadamba': 1, 'seven': 1, 'leaved': 1, 'banana': 1, 'asana': 1, 'kovidaras,': 1, 'karaviras': 1, 'tied': 1, 'weight': 1, 'flowers': 2, 'flower': 1, 'buds,': 1, 'distressed': 1, 'birds,': 1, 'crests': 1, 'moved': 1, 'wind,': 1, 'wells': 1, 'various': 3, 'pleasure-groves': 1, 'give': 1, 'fruits': 1, 'seasons': 1, 'gardens': 1, 'also,': 1, 'ponds': 1, 'consisting': 1, 'swans': 1, 'ducks.': 1}

In [76]:
words = list(wc.items())

In [79]:
from operator import itemgetter
words.sort(key=itemgetter(1), reverse=True)
words[:10]

[('city', 7),
 ('trees,', 6),
 ('saw', 4),
 ('like', 4),
 ('filled', 4),
 ('trees', 4),
 ('hanuma', 3),
 ('rakshasas', 3),
 ('horrible', 3),
 ('various', 3)]

In [80]:
d = { 'name': 'sachin', 'age': 24, 'country': 'india'}

In [81]:
for some in d:
    print(some)

name
age
country

In [82]:
for key in d:
    print(key, '=', d[key])
else:
    print("Do you get it ?")

name = sachin
age = 24
country = india
Do you get it ?

In [83]:
s =  { 'java', 1, 4.5, 1, 1, 1}

In [84]:
for value in s:
    print(value)

1
4.5
java

for value in iterable:

    body

In [87]:
s = '123456789'
for char  in s:
    v = int(char)
    print(v**2)

1
4
9
16
25
36
49
64
81

In [88]:
"*"*5

'*****'

In [89]:
s = '123456789'
for i in s: #'4'
    i = int(i)# 4
    print("*"*i)# '*'*4

*
**
***
****
*****
******
*******
********
*********

In [90]:
d = [ ('one', 'two'), ('java', 'mar java'), ('python', 'awsome'), ('smjh aaya','nh aaya' )]

In [111]:
for item in d:
    print(item)
    #print(f"{item[0]} is {item[1]}")
else:
    print("do you get it?")

('one', 'two')
('java', 'mar java')
('python', 'awsome')
('smjh aaya', 'nh aaya')
do you get it?

#### tuple unpacking

In [99]:
x,y,c = ('java', 'c', 'c++')
print(x, y, c, sep='\n')

java
c
c++

In [109]:
d = [  ('one', 'two'), ('java', 'mar java'), ('python', 'awsome'), ('smjh aaya','nh aaya' )]

In [110]:
for item1, item2 in d:
    print(f"{item1} is {item2}")
else:
    print("Easy right ? ")

one is two
java is mar java
python is awsome
smjh aaya is nh aaya
Easy right ?

In [113]:
d = [
    [ 1, 'one', 'ek' ],
    [ 2, 'two', 'dou'],
    [ 3, 'three', 'teen'],
    [ 4, 'four', 'chaar'],
    [ 5, 'five', 'paanch']
    
]

In [114]:
for n, e, h in d:
    print(f"{n} in engilsh is {e} and in hindi is {h}")
else:
    print("do you get it ?")

1 in engilsh is one and in hindi is ek
2 in engilsh is two and in hindi is dou
3 in engilsh is three and in hindi is teen
4 in engilsh is four and in hindi is chaar
5 in engilsh is five and in hindi is paanch
do you get it ?

In [115]:
d = [
    
    ('sachin', 90, 45, 67),
    ('rajat', 78, 76, 79),
    ('nidhi', 45, 65, 48),
    ('nikita', 0, 12, 54)
]

In [120]:
print("Name\tMaths\tEnglish\tScience")
for n, m, e, s in d:
    print(f"{n}\t{m}\t{e}\t{s}")
    if m == 0:
        break
else:
    print("pretty right")

Name	Maths	English	Science
sachin	90	45	67
rajat	78	76	79
nidhi	45	65	48
pretty right

In [121]:
d = { 'name': 'sachin', 'age': 24, 'country':'india'}

In [124]:
for key, value in d.items():
    print(f"{key:>20} = {value}")

                name = sachin
                 age = 24
             country = india

In [125]:
s = "Hello World"

In [126]:
s.rjust(40)

'                             Hello World'

In [131]:
ss = f"hello this is advance {s:>20}  string formatting"
ss

'hello this is advance          Hello World  string formatting'

In [132]:
ss = f"hello this is advance {s:<20}  string formatting"
ss

'hello this is advance Hello World           string formatting'

some **common iterable** objects in python programming

**range**

**zip**

**enumerated**

**sorted**

**reversed**

range() --> number slicer

range(end_value) --> 0, 1, 2, .... end_value - 1
    
    eg. range(5) --> 0, 1, 2, 3, 4

range(start, end) --> start, ........, end-1
    
    eg. range(10, 16) --> 10, 11, 12, 13, 14, 15
    
range(start, end, step) --> will go from start to end - 1 with jump of step

range(5, 51, 10) --> 5, 15, 25, 35, 45

In [134]:
print(*range(5))

0 1 2 3 4

In [135]:
print(*range(10, 16))

10 11 12 13 14 15

In [136]:
print(*range(5, 51, 10))

5 15 25 35 45

In [138]:
print(*range(1, 10, 3))
# 1 4 7

1 4 7

In [139]:
num = int(input("number: ")) # 5
print(*range(num, num*11, num), sep='\n')
# 5 10 15 20 25 30 35 40 45 50

number: 5
5
10
15
20
25
30
35
40
45
50

In [140]:
print(*range(10, 1, -1))
# 10 9 8 7 6 5 4 3 2

10 9 8 7 6 5 4 3 2

In [141]:
for var in range(100):
    if var % 5 == 0 and var % 7 == 0:
        print(var)
else:
    print("smjh m aaya kya ?")

0
35
70
smjh m aaya kya ?

In [143]:
for var in range(1, 11):
    print(var, "*"*var)

1 *
2 **
3 ***
4 ****
5 *****
6 ******
7 *******
8 ********
9 *********
10 **********

In [145]:
for var in range(10, 0, -1):
    print(var, "*"*var)

10 **********
9 *********
8 ********
7 *******
6 ******
5 *****
4 ****
3 ***
2 **
1 *

In [147]:
for var in range(1, 11):
    print(" "*(11-var), "*"*var, sep='')

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [149]:
for var in range(1, 11):
    print(" "*var, "*"*(11-var), sep='')

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

**List Comprenshions**

In [150]:
l = [ data for data in range(10) ]

In [151]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
l = [ data for data in range(200) if data % 5 == 0 and data % 7 == 0]

In [154]:
l

[0, 35, 70, 105, 140, 175]

In [155]:
from random import randint

In [156]:
randint(1, 10)

6

In [157]:
rn = [ randint(1, 10) for var in range(10) ]

In [158]:
rn

[6, 5, 1, 9, 4, 3, 4, 3, 9, 4]

In [159]:
rn_2 = [ item**2 for item in rn ]
print(rn_2)

[36, 25, 1, 81, 16, 9, 16, 9, 81, 16]

syntax:

    enumerated(iterable) --> make a tuple with items of iterable using index value from 0

In [160]:
print(*'python')

p y t h o n

In [162]:
print(*enumerate('python'), '\n')

(0, 'p') (1, 'y') (2, 't') (3, 'h') (4, 'o') (5, 'n')

In [163]:
lang = [ 'java', 'c', 'c++', 'ruby', 'perl']

In [164]:
for item in enumerate(lang):
    print(item)

(0, 'java')
(1, 'c')
(2, 'c++')
(3, 'ruby')
(4, 'perl')

In [167]:
key = input("Enter you key: ")
for i, item in enumerate(lang):
    if item == key:
        print(item, 'found at index', i)
else:
    print("Not found")

Enter you key: c++
c++ found at index 2

In [168]:
key = input("Enter you key: ")
for i, item in enumerate(lang):
    if item == key:
        print(item, 'found at index', i)
else:
    print("Not found")

Enter you key: python
Not found

sorting & searching --> iterative

In [169]:
lang = [ 'java', 'c', 'c++', 'python']

descr = [ 'lengthy', 'hard', 'not my thing', 'awesome']

In [171]:
print(*zip(lang, descr), sep='\n')

('java', 'lengthy')
('c', 'hard')
('c++', 'not my thing')
('python', 'awesome')

In [173]:
for i, d in zip(lang, descr):
    print(f"{i} is {d}\n")

java is lengthy

c is hard

c++ is not my thing

python is awesome

In [174]:
product = [ 'apple', 'oneplus', 'samsung', 'oppo', 'redmi']
price = [ 80000, 50000, 75000, 30000, 20000]
quant = [ 10, 20, 15, 30, 50]

In [185]:
total_income = 0
print("_"*100)
b = "Brand"; p = "Price"; q = 'Quantity'; s = "Total Sell"
print(f"|{b:>20}|{p:>20}|{q:>20}|{s:>20}|")
for br,pr,qt in zip(product, price, quant):
    print("_"*100)
    print(f"|{br:>20}|{pr:>20}|{qt:>20}|{pr*qt:>20}|")
    total_income += (pr*qt)
else:
    print("_"*100)
    print("\n\nTotal Income: ", total_income)

____________________________________________________________________________________________________
|               Brand|               Price|            Quantity|          Total Sell|
____________________________________________________________________________________________________
|               apple|               80000|                  10|              800000|
____________________________________________________________________________________________________
|             oneplus|               50000|                  20|             1000000|
____________________________________________________________________________________________________
|             samsung|               75000|                  15|             1125000|
____________________________________________________________________________________________________
|                oppo|               30000|                  30|              900000|
____________________________________________________________________________________________________
|               redmi|               20000|                  50|             1000000|
____________________________________________________________________________________________________


Total Income:  4825000

Functions & OOPs