In [2]:
!type marks.csv

Name,Maths,Chem,Phy
sachin,89,78,90
tanvi,76,87,89
vijay,88,67,87
sam,67,78,76

rajat,76,56,78
nidhi,78,67,98
nikita,45,67,56
manish,67,78,79
simran,78,78,98
saymak,76,78,89

In [3]:
with open('marks.csv', 'rt') as file:
    data = file.read()
    file.close()

In [4]:
print(data)

Name,Maths,Chem,Phy
sachin,89,78,90
tanvi,76,87,89
vijay,88,67,87
sam,67,78,76

rajat,76,56,78
nidhi,78,67,98
nikita,45,67,56
manish,67,78,79
simran,78,78,98
saymak,76,78,89

In [5]:
print(repr(data))

'Name,Maths,Chem,Phy\nsachin,89,78,90\ntanvi,76,87,89\nvijay,88,67,87\nsam,67,78,76\n\nrajat,76,56,78\nnidhi,78,67,98\nnikita,45,67,56\nmanish,67,78,79\nsimran,78,78,98\nsaymak,76,78,89\n'

In [26]:
with open('marks.csv', 'rt') as in_file:
    header = in_file.readline().strip()
    #print("Heading of File: ", header.split(','))
    #print("_"*50)
    out_file = open('student_result.csv', 'wt')
    out_file.write('Name,Percentage\n')
    # heading of file
    for line in in_file:
        line = line.strip()
        if line:
            #print(repr(line))
            fields = line.split(',')
            #print(fields[0], fields[1:])
            name = fields[0]
            #marks = map(int, fields[1:])
            #print(name, *marks)
            marks = sum(map(int, fields[1:])) / len(fields[1:])
            #print(f"{name},{marks:.2f}") # ?
            out_file.write(f"{name},{marks:.2f}\n")
    else:
        in_file.close()
        out_file.close()
        print("Result sucessfully written in student_result.csv")

Result sucessfully written in student_result.csv

In [27]:
!type student_result.csv

Name,Percentage
sachin,85.67
tanvi,84.00
vijay,80.67
sam,73.67
rajat,70.00
nidhi,81.00
nikita,56.00
manish,74.67
simran,84.67
saymak,81.00

In [28]:
!type marks.csv

Name,Maths,Chem,Phy
sachin,89,78,90
tanvi,76,87,89
vijay,88,67,87
sam,67,78,76

rajat,76,56,78
nidhi,78,67,98
nikita,45,67,56
manish,67,78,79
simran,78,78,98
saymak,76,78,89

In [29]:
def gen_result(in_file, out_file, sep=','):
    """
        gen_result(in_file, out_file) - evaluate percentage of 
        students and write result into out_file.
        
        constraint: file format should be name,sub1,sub2......
    """
    with open(in_file, 'rt') as in_file:
        n = len(in_file.readline().strip().split(sep))-1
        out_file = open(out_file, 'wt')
        out_file.write('Name,Percentage\n')
        for line in in_file:
            if line.strip(): # if not blank line
                data = line.split(',')
                name,per = data[0],sum(map(int, data[1:])) / n
                out_file.write(f"{name},{per:.2f}\n")
        else:
            in_file.close()
            out_file.close()
            print(f"Result successfully written in {out_file.name}")

In [30]:
gen_result('marks.csv', 'result.csv')

Result successfully written in result.csv

In [32]:
!type marks.csv

Name,Maths,Chem,Phy
sachin,89,78,90
tanvi,76,87,89
vijay,88,67,87
sam,67,78,76

rajat,76,56,78
nidhi,78,67,98
nikita,45,67,56
manish,67,78,79
simran,78,78,98
saymak,76,78,89

In [34]:
!type result.csv

Name,Percentage
sachin,85.67
tanvi,84.00
vijay,80.67
sam,73.67
rajat,70.00
nidhi,81.00
nikita,56.00
manish,74.67
simran,84.67
saymak,81.00

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('marks.csv')

In [43]:
(df[['Maths', 'Chem', 'Phy']].sum() / len(df)).to_csv('subject_result.csv')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [44]:
!type subject_result.csv

Maths,74.0
Chem,73.4
Phy,84.0

In [46]:
st = df[['Maths', 'Chem', 'Phy']]

In [47]:
st.index = df['Name']

In [57]:
(st.sum(axis=1) / len(st.columns) ).to_csv()

In [54]:
!type r.csv

sachin,85.66666666666667
tanvi,84.0
vijay,80.66666666666667
sam,73.66666666666667
rajat,70.0
nidhi,81.0
nikita,56.0
manish,74.66666666666667
simran,84.66666666666667
saymak,81.0

In [58]:
ans

Name
sachin    85.666667
tanvi     84.000000
vijay     80.666667
sam       73.666667
rajat     70.000000
nidhi     81.000000
nikita    56.000000
manish    74.666667
simran    84.666667
saymak    81.000000
dtype: float64

**Serialization & De-serialization**

    Drawback of file handling ?

    we have to process strings manually just beacuses we can only store or retreive strings from file

    Serialization is a process by which we can convert any object into byte-stream (string)


    De-Serialization is a process converting a byte stream (string) into an object

In [ ]:
def login(acc, password, db):
    if acc in db:
        if db[acc]['password'] == password:
            print("\nWelcome Back User: ", db[acc]['name'])
            return True
        else:
            print("\nError!!!Invalid Password Try Again!!!")
            return False
    else:
        print("\nError!!!No such user exists!!!please signup if you don't have account")
        return False
login('AC001', 'sachin'[::-1], bank_db)

In [63]:
def login(acc, password, db):
    value = False
    if acc in db:
        if db[acc]['password'] == password:
            print("\nWelcome Back User: ", db[acc]['name'])
            value = True
        else:
            print("\nError!!!Invalid Password Try Again!!!")
            
    else:
        print("\nError!!!No such user exists!!!please signup if you don't have account")
    return value
login('AC001', 'sachin'[::-1], bank_db)

Welcome Back User:  sachin

True

In [59]:
bank_db = { 
    'AC001': { 'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
    'AC002': { 'name': 'rajat', 'balance': 60000, 'password': 'tajar'},
}

In [64]:
%%writefile bank.txt
AC001,sachin,50000,nihcas
AC002,rajat,60000,tajar

Writing bank.txt

In [65]:
fp = open('bank.db', 'wt')
fp.write(bank_db)
fp.close()

TypeError: write() argument must be str, not dict


Serialization
    
    dumps(object) - string
    dump(object, file) - write object into file
    
De-Serialization

    loads(string) - object
    load(file) - object

    JSON, PICKLE

    Data Interchange Language

**Java Script Object Notation**

In [66]:
import json

JSON Data Type              Python Data Type

     int                         int
     double                      float
     string                      strings
     array                       list
     object                      dictionary

In [67]:
python = [ 4, 5.6, 'hello', [1, 2, 'python'], ('java', 'c', 'c++'),
         {'name':'sachin', 'language': ['hindi', 'english'] }]

In [68]:
python

[4,
 5.6,
 'hello',
 [1, 2, 'python'],
 ('java', 'c', 'c++'),
 {'name': 'sachin', 'language': ['hindi', 'english']}]

In [72]:
# Serialization
json_type = []
for item in python:
    print("__"*30)
    print("python")
    print(type(item), repr(item))
    js  = json.dumps(item)
    json_type.append(js)
    print('-'*60)
    print('Json')
    print(type(js), repr(js))
    print("__"*30)

____________________________________________________________
python
<class 'int'> 4
------------------------------------------------------------
Json
<class 'str'> '4'
____________________________________________________________
____________________________________________________________
python
<class 'float'> 5.6
------------------------------------------------------------
Json
<class 'str'> '5.6'
____________________________________________________________
____________________________________________________________
python
<class 'str'> 'hello'
------------------------------------------------------------
Json
<class 'str'> '"hello"'
____________________________________________________________
____________________________________________________________
python
<class 'list'> [1, 2, 'python']
------------------------------------------------------------
Json
<class 'str'> '[1, 2, "python"]'
____________________________________________________________
____________________________________________________________
python
<class 'tuple'> ('java', 'c', 'c++')
------------------------------------------------------------
Json
<class 'str'> '["java", "c", "c++"]'
____________________________________________________________
____________________________________________________________
python
<class 'dict'> {'name': 'sachin', 'language': ['hindi', 'english']}
------------------------------------------------------------
Json
<class 'str'> '{"name": "sachin", "language": ["hindi", "english"]}'
____________________________________________________________

In [73]:
json_type

['4',
 '5.6',
 '"hello"',
 '[1, 2, "python"]',
 '["java", "c", "c++"]',
 '{"name": "sachin", "language": ["hindi", "english"]}']

# De-Serialization

In [75]:
python_type = []
for item in json_type:
    print("\n","_"*60)
    print("JSON ", type(item), repr(item))
    print('-'*60)
    py = json.loads(item)
    python_type.append(py)
    print("PYTHON ", type(py), repr(py))
    print("_"*60, '\n')

 ____________________________________________________________
JSON  <class 'str'> '4'
------------------------------------------------------------
PYTHON  <class 'int'> 4
____________________________________________________________


 ____________________________________________________________
JSON  <class 'str'> '5.6'
------------------------------------------------------------
PYTHON  <class 'float'> 5.6
____________________________________________________________


 ____________________________________________________________
JSON  <class 'str'> '"hello"'
------------------------------------------------------------
PYTHON  <class 'str'> 'hello'
____________________________________________________________


 ____________________________________________________________
JSON  <class 'str'> '[1, 2, "python"]'
------------------------------------------------------------
PYTHON  <class 'list'> [1, 2, 'python']
____________________________________________________________


 ____________________________________________________________
JSON  <class 'str'> '["java", "c", "c++"]'
------------------------------------------------------------
PYTHON  <class 'list'> ['java', 'c', 'c++']
____________________________________________________________


 ____________________________________________________________
JSON  <class 'str'> '{"name": "sachin", "language": ["hindi", "english"]}'
------------------------------------------------------------
PYTHON  <class 'dict'> {'name': 'sachin', 'language': ['hindi', 'english']}
____________________________________________________________

    json.dumps(object) - string
    json.loads(string) - object


    json.dump(object, file) - string written in file
    json.load(file) - object

In [76]:
bank_db

{'AC001': {'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
 'AC002': {'name': 'rajat', 'balance': 60000, 'password': 'tajar'}}

In [90]:
fp = open('bank.json', 'wt')
json.dump(bank_db, fp)
fp.close()

In [91]:
!type bank.json

{"AC001": {"name": "sachin", "balance": 50000, "password": "nihcas"}, "AC002": {"name": "rajat", "balance": 60000, "password": "tajar"}}

In [102]:
def load_db(filename):
    with open(filename, 'rt') as file:
        db = json.load(file)
        file.close()
    return db

In [103]:
load_db('bank.json')

{'AC001': {'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
 'AC002': {'name': 'rajat', 'balance': 60000, 'password': 'tajar'}}

In [104]:
def update_db(filename, key, value):
    db = load_db(filename)
    db.update([ (key, value) ])
    with open(filename, 'wt') as fp:
        json.dump(db, fp)
        fp.close()

In [108]:
def signup(user, password, balance, filename='bank.json'):
    db = load_db(filename)
    acc = 'AC' + str(int(max(db.keys())[2:])+1)
    print("Write Down your Account Number: ", acc)
    update_db(filename, acc, {'name': user, 'balance': balance, 
                                  'password': password})
    print("Account Created Successfully")

In [109]:
signup('tanvi', 'ivnat', 10000)

Write Down your Account Number:  AC3
Account Created Successfully

In [110]:
load_db('bank.json')

{'AC001': {'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
 'AC002': {'name': 'rajat', 'balance': 60000, 'password': 'tajar'},
 'AC3': {'name': 'tanvi', 'balance': 10000, 'password': 'ivnat'}}

In [113]:
login('AC3', 'ivnat', load_db('bank.json'))

Welcome Back User:  tanvi

True

In [114]:
login('AC001', 'nihcas', load_db('bank.json'))

Welcome Back User:  sachin

True

In [115]:
signup('manish', 'hsinam', 130001)

Write Down your Account Number:  AC4
Account Created Successfully

In [116]:
!type bank.json

{"AC001": {"name": "sachin", "balance": 50000, "password": "nihcas"}, "AC002": {"name": "rajat", "balance": 60000, "password": "tajar"}, "AC3": {"name": "tanvi", "balance": 10000, "password": "ivnat"}, "AC4": {"name": "manish", "balance": 130001, "password": "hsinam"}}

pickle vs Json

    pickle can write any valid python object into file but json can only write int, float, str, list, dict
    
    pickle convert object into bytes but json converts object into strings

In [117]:
json.dumps({1, 2, 3, 4})

TypeError: Object of type set is not JSON serializable

In [118]:
import pickle
# only we can use python

In [119]:
pickle.dumps({1,2, 3, 4})

b'\x80\x03cbuiltins\nset\nq\x00]q\x01(K\x01K\x02K\x03K\x04e\x85q\x02Rq\x03.'

In [120]:
!type bank.json

{"AC001": {"name": "sachin", "balance": 50000, "password": "nihcas"}, "AC002": {"name": "rajat", "balance": 60000, "password": "tajar"}, "AC3": {"name": "tanvi", "balance": 10000, "password": "ivnat"}, "AC4": {"name": "manish", "balance": 130001, "password": "hsinam"}}

In [122]:
pickle.dumps(range(1,50))

b'\x80\x03cbuiltins\nrange\nq\x00K\x01K2K\x01\x87q\x01Rq\x02.'

In [124]:
byte = pickle.dumps(map(int, ['1', '2', '3', '4']))
byte

b'\x80\x03cbuiltins\nmap\nq\x00cbuiltins\nint\nq\x01cbuiltins\niter\nq\x02]q\x03(X\x01\x00\x00\x001q\x04X\x01\x00\x00\x002q\x05X\x01\x00\x00\x003q\x06X\x01\x00\x00\x004q\x07e\x85q\x08Rq\tK\x00b\x86q\nRq\x0b.'

In [125]:
for item in pickle.loads(byte):
    print(item)

1
2
3
4

In [126]:
def write_once(data, filename):
    fp = open(filename, 'wb')
    pickle.dump(data, fp)
    fp.close()
    print("updated sucessfullly")

In [128]:
write_once(bank_db, 'bank.pkl')

updated sucessfullly

In [129]:
!type bank.pkl

€}q (X   AC001q}q(X   nameqX   sachinqX   balanceqMPÃX   passwordqX   nihcasquX   AC002q}q	(hX   rajatq
hM`êhX   tajarquu.

In [130]:
def load_db(filename):
    with open(filename, 'rb') as file:
        db = pickle.load(file)
        file.close()
    return db

In [131]:
load_db('bank.pkl')

{'AC001': {'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
 'AC002': {'name': 'rajat', 'balance': 60000, 'password': 'tajar'}}

In [133]:
def update_db(filename, key, value):
    db = load_db(filename)
    db.update([ (key, value) ])
    with open(filename, 'wb') as fp:
        pickle.dump(db, fp)
        fp.close()

In [139]:
def signup(user, password, balance, filename='bank.pkl'):
    db = load_db(filename)
    acc = 'AC' + str(int(max(db.keys())[2:])+1).zfill(3)
    print("Write Down your Account Number: ", acc)
    update_db(filename, acc, {'name': user, 'balance': balance, 
                                  'password': password})
    print("Account Created Successfully")

In [140]:
signup('tanvi', 'ivnat', 60000)

Write Down your Account Number:  AC003
Account Created Successfully

In [141]:
load_db('bank.pkl')

{'AC001': {'name': 'sachin', 'balance': 50000, 'password': 'nihcas'},
 'AC002': {'name': 'rajat', 'balance': 60000, 'password': 'tajar'},
 'AC003': {'name': 'tanvi', 'balance': 60000, 'password': 'ivnat'}}

In [142]:
login('asdf', 'asdf', load_db('bank.pkl'))

Error!!!No such user exists!!!please signup if you don't have account

False

In [143]:
login('AC003', 'asdf', load_db('bank.pkl'))

Error!!!Invalid Password Try Again!!!

False

In [144]:
login('AC003', 'ivnat', load_db('bank.pkl'))

Welcome Back User:  tanvi

True

    Serlization and De-serlization

    OOPS - Object Oriented Prgoramming Language

In [ ]:
C -> functions --> integrated --> Project

    set of rules to write better, more readble

### OOPS

    Encapsulation
    Data Hiding
    Abstraction
    Inheritance
    PolyMorphism
    Over-riding
    Message Passing
    Class 
    Object

    object - instance, state, data

    class - objects & methods

In [146]:
l = [ 1, 2, 3, 4]

In [147]:
l.append(5)

In [148]:
l.insert(0, 'hi')

In [149]:
l

['hi', 1, 2, 3, 4, 5]

In [150]:
l.clear()

**Encapsulation**

    Encapsulation is a process by which we can bind all methods and data together in a single name space

**Data Hiding**
    
    We hide some sensitive information inside class namespace which not available directly outside class

In [151]:
l = [ 1, 2, 3, 4]

In [152]:
l.__len__() # direct method

4

In [153]:
len(l) # indirect method to access property of list

4

In [154]:
l = [ 'java', 'c']

In [155]:
l.append('c++')

In [156]:
l

['java', 'c', 'c++']

In [157]:
l = list([ 'java', 'c'])

In [158]:
l

['java', 'c']

In [160]:
# l.append('c++') --> list.append(l, 'c++') --> list.append(self, 'c++')
list.append(l, 'c++')

In [161]:
l

['java', 'c', 'c++']

In [164]:
5 + 6 # int.__add__(5, 6)

11

In [163]:
int.__add__(5, 6)

11

syntax

    class class_name(parent1, parent2, ...):
        _class_variable ....
        def method(self):
            ....

In [166]:
class A:
    def hello(self):
        """object - instance 
           instance method
        """
        print(self, id(self))
        print("Hello World")

In [173]:
a  = A(); print(type(a))

<class '__main__.A'>

In [172]:
print(a, id(a))

<__main__.A object at 0x000002AC5BACD4C8> 2939295683784

In [171]:
a.hello() # A.hello(a) self == a

<__main__.A object at 0x000002AC5BACD4C8> 2939295683784
Hello World

In [174]:
A.hello(a)

<__main__.A object at 0x000002AC5BEF4708> 2939300038408
Hello World

In [175]:
b = A()

In [176]:
b.hello() # A.hello(b) self == b

<__main__.A object at 0x000002AC5A9F6388> 2939278025608
Hello World

In [177]:
print(b, id(b))

<__main__.A object at 0x000002AC5A9F6388> 2939278025608