#### Any Doubt Till Now ?

1. repr ? 
2. dict updatation ? 
3. Loop using Print ?

**Numbers**

In [4]:
x =  5
print(type(x), id(x), x) # x identifier
x = 5.6
print(type(x), id(x), x)
x = 6.7+56.j
print(type(x), id(x), x)

<class 'int'> 140727193805328 5
<class 'float'> 2018825592784 5.6
<class 'complex'> 2018826134256 (6.7+56j)

In [5]:
x = "Hello World!"

In [6]:
x = 'Hello World!'

In [7]:
x[:5]

'Hello'

In [8]:
x[-5:]

'orld!'

In [9]:
x[1:10]

'ello Worl'

In [10]:
x.lower()

'hello world!'

In [11]:
x.upper()

'HELLO WORLD!'

In [12]:
x.strip()

'Hello World!'

In [13]:
x.split()

['Hello', 'World!']

In [14]:
lst = [ 'some', 'usefull', 'info', 'in', 'dictionary']

In [15]:
lst.append('item')

In [16]:
lst

['some', 'usefull', 'info', 'in', 'dictionary', 'item']

In [17]:
lst.insert(2, 'sachin')

In [18]:
lst

['some', 'usefull', 'sachin', 'info', 'in', 'dictionary', 'item']

In [19]:
lst.extend([ 'java', 'c', 'c++'])

In [20]:
lst

['some',
 'usefull',
 'sachin',
 'info',
 'in',
 'dictionary',
 'item',
 'java',
 'c',
 'c++']

In [21]:
lst.pop()

'c++'

In [22]:
lst.pop(4)

'in'

In [23]:
lst.remove('info') # l-r first occurence

In [24]:
lst

['some', 'usefull', 'sachin', 'dictionary', 'item', 'java', 'c']

In [26]:
print(len(lst)) # last index --> 6

7

In [25]:
lst[10]

IndexError: list index out of range

In [27]:
print(lst)

['some', 'usefull', 'sachin', 'dictionary', 'item', 'java', 'c']

In [28]:
lst.remove('yadav')

ValueError: list.remove(x): x not in list

In [29]:
lst.extend(1234)

TypeError: 'int' object is not iterable

In [30]:
l = []

In [31]:
l.append('python')

In [32]:
l

['python']

In [33]:
l = []

In [34]:
l.extend('python')

In [35]:
print(l)

['p', 'y', 't', 'h', 'o', 'n']

In [36]:
l = []

In [37]:
l.extend(['java', 'c', 'c++'])

In [38]:
l

['java', 'c', 'c++']

In [39]:
l = []

In [40]:
l.append(['java', 'c','c++'])

In [41]:
l

[['java', 'c', 'c++']]

In [42]:
lang = [ 'c', 'c++', 'ruby', 'perl', 'python']

In [43]:
'c' in lang

True

In [44]:
'item' in lang

False

In [46]:
lang.index('python')

4

In [47]:
lang.count('c')

1

In [48]:
lang.count('item')

0

In [49]:
lang.reverse()

In [50]:
lang

['python', 'perl', 'ruby', 'c++', 'c']

In [51]:
nums = [ 56, 34, 67, 3, 123,]

In [52]:
max(nums)

123

In [53]:
sum(nums)

283

In [54]:
min(nums)

3

In [55]:
l = [ 'java', 'c', 123, '56']

In [57]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [58]:
nums

[56, 34, 67, 3, 123]

In [59]:
nums.sort()

In [60]:
nums

[3, 34, 56, 67, 123]

In [61]:
nums.sort(reverse=True)

In [62]:
nums

[123, 67, 56, 34, 3]

In [77]:
num = [ 
    
#   name,   math, sci, games

    [ 'sachin', 45, 67, 89],
    
    [ 'yadav', 56, 78, 56],
    
    [ 'rajat', 56, 75, 45]

]

In [78]:
num.sort(reverse=True) # 2 D --> key --> 0,

In [79]:
num

[['yadav', 56, 78, 56], ['sachin', 45, 67, 89], ['rajat', 56, 75, 45]]

In [80]:
from operator import itemgetter

In [81]:
num.sort(reverse=True, key=itemgetter(2))
num

[['yadav', 56, 78, 56], ['rajat', 56, 75, 45], ['sachin', 45, 67, 89]]

In [82]:
d = { 'name': 'sachin', 'age': 24, 'country': 'India'}

In [83]:
s = "Hello\n\tWorld" # \n --> new line

In [85]:
print(s) # string repr

Hello
	World

In [87]:
print(str(s)) # print

Hello
	World

In [88]:
repr(s) # raw string

"'Hello\\n\\tWorld'"

In [89]:
s = r'hello\n\wWorld'

In [90]:
print(s)

hello\n\wWorld

In [91]:
s

'hello\\n\\wWorld'

In [93]:
python = {
    
    'name': 'python',
    'type': 'programming language',
    'father': 'Guido Van Rossum',
    'launch year': 1994,
    'current_version': 3.8, 
    'versions': [ '1.x', '2.x', '3.x'],
    
    'modules': {
        'web': [ 'django', 'flask', 'pyramid', 'web2py'],
        'gui': [ 'tkinter', 'wxpython', 'pygame', 'kivi'],
        'datascience': [ 'numpy', 'request', 'pandas', 'bs4', 'scipy'],
        'visulation': [ 'matplotlib', 'seaborn', 'plotly', 'ggplot'],
        'machine learning': [ 'sklearn', 'tensorflow', 'keras', 'pytorch'],
        'automation': [ 'ansible', 'openstack', 'pyautogui'],
        
    },
    'website': 'https://python.org'
    
}

In [94]:
print(python)

{'name': 'python', 'type': 'programming language', 'father': 'Guido Van Rossum', 'launch year': 1994, 'current_version': 3.8, 'versions': ['1.x', '2.x', '3.x'], 'modules': {'web': ['django', 'flask', 'pyramid', 'web2py'], 'gui': ['tkinter', 'wxpython', 'pygame', 'kivi'], 'datascience': ['numpy', 'request', 'pandas', 'bs4', 'scipy'], 'visulation': ['matplotlib', 'seaborn', 'plotly', 'ggplot'], 'machine learning': ['sklearn', 'tensorflow', 'keras', 'pytorch'], 'automation': ['ansible', 'openstack', 'pyautogui']}, 'website': 'https://python.org'}

In [95]:
from pprint import pprint

In [99]:
pprint(python, indent=3) # pprint used for nested data structures

{  'current_version': 3.8,
   'father': 'Guido Van Rossum',
   'launch year': 1994,
   'modules': {  'automation': ['ansible', 'openstack', 'pyautogui'],
                 'datascience': ['numpy', 'request', 'pandas', 'bs4', 'scipy'],
                 'gui': ['tkinter', 'wxpython', 'pygame', 'kivi'],
                 'machine learning': [  'sklearn',
                                        'tensorflow',
                                        'keras',
                                        'pytorch'],
                 'visulation': ['matplotlib', 'seaborn', 'plotly', 'ggplot'],
                 'web': ['django', 'flask', 'pyramid', 'web2py']},
   'name': 'python',
   'type': 'programming language',
   'versions': ['1.x', '2.x', '3.x'],
   'website': 'https://python.org'}

In [102]:
'income' in python

False

In [103]:
'name' in python

True

In [101]:
python['income']

KeyError: 'income'

In [109]:
input().strip().lower()

         NaMe

'name'

In [117]:
key = input("What do you know about python : ").strip().lower()
output = python.get(key, 'no such key')
print("Result: ", output)
# None --> null

What do you know about python : income
Result:  no such key

In [118]:
print(python.keys())

dict_keys(['name', 'type', 'father', 'launch year', 'current_version', 'versions', 'modules', 'website'])

In [119]:
print(python.values())

dict_values(['python', 'programming language', 'Guido Van Rossum', 1994, 3.8, ['1.x', '2.x', '3.x'], {'web': ['django', 'flask', 'pyramid', 'web2py'], 'gui': ['tkinter', 'wxpython', 'pygame', 'kivi'], 'datascience': ['numpy', 'request', 'pandas', 'bs4', 'scipy'], 'visulation': ['matplotlib', 'seaborn', 'plotly', 'ggplot'], 'machine learning': ['sklearn', 'tensorflow', 'keras', 'pytorch'], 'automation': ['ansible', 'openstack', 'pyautogui']}, 'https://python.org'])

In [123]:
print(*python.items(), sep='\n')

('name', 'python')
('type', 'programming language')
('father', 'Guido Van Rossum')
('launch year', 1994)
('current_version', 3.8)
('versions', ['1.x', '2.x', '3.x'])
('modules', {'web': ['django', 'flask', 'pyramid', 'web2py'], 'gui': ['tkinter', 'wxpython', 'pygame', 'kivi'], 'datascience': ['numpy', 'request', 'pandas', 'bs4', 'scipy'], 'visulation': ['matplotlib', 'seaborn', 'plotly', 'ggplot'], 'machine learning': ['sklearn', 'tensorflow', 'keras', 'pytorch'], 'automation': ['ansible', 'openstack', 'pyautogui']})
('website', 'https://python.org')

In [183]:
d =  { 'name': 'sachin', 'country': 'India'}

### you want set a default value for a key

In [184]:
item = d.setdefault('name', 'Python')
print(item)
print(d)

sachin
{'name': 'sachin', 'country': 'India'}

In [185]:
item = d.setdefault('color', 'fair')
print(item)
print(d)

fair
{'name': 'sachin', 'country': 'India', 'color': 'fair'}

In [186]:
d

{'name': 'sachin', 'country': 'India', 'color': 'fair'}

In [187]:
d['name'] = 'Sachin Yadav' # direct methodd

In [188]:
d

{'name': 'Sachin Yadav', 'country': 'India', 'color': 'fair'}

In [189]:
d['language']  = [ 'Hindi', 'English']

In [190]:
pprint(d)

{'color': 'fair',
 'country': 'India',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [191]:
d

{'name': 'Sachin Yadav',
 'country': 'India',
 'color': 'fair',
 'language': ['Hindi', 'English']}

In [192]:
d.update(name='Sachin', age=24, city='Jaipur')

In [193]:
pprint(d)

{'age': 24,
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'language': ['Hindi', 'English'],
 'name': 'Sachin'}

In [194]:
print(list(d.items()))

[('name', 'Sachin'), ('country', 'India'), ('color', 'fair'), ('language', ['Hindi', 'English']), ('age', 24), ('city', 'Jaipur')]

In [195]:
d.update([  ('name', 'Sachin Yadav'), ('job-title', 'Data Scientist') ])

In [196]:
pprint(d)

{'age': 24,
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [197]:
left_info  = { 'blood_group': 'B+ive', 
              'education':{
                  'school': [ 'RBSE', 2011, 88],
                  'high-school': [ 'RBSE', 2013, 84],
                  'graduation': [ 'RTU', 2017, 76]
              }
             }

In [198]:
left_info

{'blood_group': 'B+ive',
 'education': {'school': ['RBSE', 2011, 88],
  'high-school': ['RBSE', 2013, 84],
  'graduation': ['RTU', 2017, 76]}}

In [199]:
pprint(d)

{'age': 24,
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [200]:
d.update(left_info)

In [201]:
pprint(d)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'education': {'graduation': ['RTU', 2017, 76],
               'high-school': ['RBSE', 2013, 84],
               'school': ['RBSE', 2011, 88]},
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [177]:
d['education']['school'][2] = 70

In [178]:
pprint(d)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'education': {'graduation': ['RTU', 2017, 76],
               'high-school': ['RBSE', 2013, 84],
               'school': ['RBSE', 2011, 70]},
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [179]:
d = { 'name': 'sachin', 'country': 'India'}

In [180]:
dd = { 'name': 'Sachin Yadav', 'country': "Bharat"}

In [181]:
d.update(dd)

In [182]:
d

{'name': 'Sachin Yadav', 'country': 'Bharat'}

In [203]:
pprint(d)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'education': {'graduation': ['RTU', 2017, 76],
               'high-school': ['RBSE', 2013, 84],
               'school': ['RBSE', 2011, 88]},
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [204]:
help(d.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [207]:
item = d.pop('nation', 'no such key')
print(item)

no such key

In [208]:
item = d.pop('age')
print(item)

24

In [209]:
pprint(d)

{'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'education': {'graduation': ['RTU', 2017, 76],
               'high-school': ['RBSE', 2013, 84],
               'school': ['RBSE', 2011, 88]},
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

 python 3.6 --> ordered --> keys are in order

In [210]:
x, y = ('java', 'c')
print(x, y) # tuple unpacking

java c

In [211]:
key, value = d.popitem()
print(key, value, 'is deleted')

education {'school': ['RBSE', 2011, 88], 'high-school': ['RBSE', 2013, 84], 'graduation': ['RTU', 2017, 76]} is deleted

In [212]:
pprint(d)

{'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [214]:
copy = d

In [215]:
copy is d

True

In [216]:
d['age'] = 24

In [217]:
pprint(d)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [219]:
pprint(copy)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [220]:
copy = d.copy()
copy is d

False

In [221]:
d.popitem()

('age', 24)

In [223]:
pprint(d)

{'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [224]:
pprint(copy)

{'age': 24,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'job-title': 'Data Scientist',
 'language': ['Hindi', 'English'],
 'name': 'Sachin Yadav'}

In [225]:
new_dict = d.fromkeys(d.keys(), None)

In [226]:
new_dict

{'name': None,
 'country': None,
 'color': None,
 'language': None,
 'city': None,
 'job-title': None,
 'blood_group': None}

In [227]:
ph = [ 'apple', 'samsung', 'oneplus', 'oopo']

In [228]:
today_sell = d.fromkeys(ph, 0)

In [229]:
today_sell

{'apple': 0, 'samsung': 0, 'oneplus': 0, 'oopo': 0}

In [230]:
today_sell.clear()

In [232]:
today_sell

{}

### Set

In [233]:
s = { 1, 2,3, 1, 1, 1,1 , 1, 1,1 }

In [234]:
print(s)

{1, 2, 3}

    immutable --> no changes --> tuple, frozenset, numbers, strings

In [235]:
hindi = [ 'jaya', 'nidhi', 'simran', 'rajat', 'ganesh', 'ramesh', 'sachin', 'samunder']

In [236]:
english = [ 'suman', 'kushal', 'manish', 'simran', 'ramesh', 'samunder', 'vijay']

In [237]:
hindi = set(hindi)

In [238]:
english = set(english)

In [239]:
hindi

{'ganesh', 'jaya', 'nidhi', 'rajat', 'ramesh', 'sachin', 'samunder', 'simran'}

In [240]:
english

{'kushal', 'manish', 'ramesh', 'samunder', 'simran', 'suman', 'vijay'}

In [241]:
hindi.issubset(english)

False

In [242]:
english.issubset(hindi)

False

In [243]:
hindi.isdisjoint(english)

False

In [244]:
hindi.intersection(english)

{'ramesh', 'samunder', 'simran'}

In [245]:
only_hindi = hindi.difference(english)
print(only_hindi)

{'rajat', 'jaya', 'sachin', 'ganesh', 'nidhi'}

In [246]:
only_english = english.difference(hindi)
print(only_english)

{'suman', 'kushal', 'manish', 'vijay'}

In [247]:
all_people = hindi.union(english)

In [249]:
print(all_people)

{'rajat', 'ramesh', 'jaya', 'suman', 'sachin', 'manish', 'samunder', 'simran', 'vijay', 'ganesh', 'kushal', 'nidhi'}

In [251]:
print(hindi)

{'rajat', 'ramesh', 'jaya', 'sachin', 'samunder', 'simran', 'ganesh', 'nidhi'}

In [252]:
hindi.symmetric_difference_update(english)

In [254]:
hindi

{'ganesh',
 'jaya',
 'kushal',
 'manish',
 'nidhi',
 'rajat',
 'sachin',
 'suman',
 'vijay'}

In [255]:
hindi

{'ganesh',
 'jaya',
 'kushal',
 'manish',
 'nidhi',
 'rajat',
 'sachin',
 'suman',
 'vijay'}

In [257]:
hindi.add('nidhi')

In [258]:
hindi

{'ganesh',
 'jaya',
 'kushal',
 'manish',
 'nidhi',
 'rajat',
 'sachin',
 'suman',
 'vijay'}

In [259]:
hindi.update(['harishita', 'ramvatar', 'harsh'])

In [260]:
hindi

{'ganesh',
 'harishita',
 'harsh',
 'jaya',
 'kushal',
 'manish',
 'nidhi',
 'rajat',
 'ramvatar',
 'sachin',
 'suman',
 'vijay'}

In [261]:
hindi.discard('sachin')

In [262]:
hindi.remove('vijay')

In [263]:
hindi.discard('abcd')

In [264]:
hindi.remove('abcd')

KeyError: 'abcd'

In [265]:
hindi.pop()

'rajat'

In [266]:
english.pop()

'ramesh'

In [267]:
copy = s.copy()

In [268]:
print(copy)

{1, 2, 3}

In [269]:
s.clear()

In [270]:
s

set()

In [272]:
print(*[func for func in dir(set) if func[0].islower()], sep='\n')

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

**Frozen Sets**

**Type Casting**

**Operators**

**Conditional Statements**

Tommorw

**Looping**

**Function**

In [273]:
from tqdm import tqdm
from time import sleep
for _ in tqdm(range(750)):
    sleep(1)

100%|███████████████████████████████████████████████████████████████████████████████████| 750/750 [12:31<00:00,  1.00s/it]

In [277]:
from pprint import pprint

In [278]:
pprint('some value')

'some value'

difference between discard and remove ?

In [279]:
s = { 1, 2, 3, 4}

In [281]:
s.discard(100) # it does nothing

In [282]:
s

{1, 2, 3, 4}

In [283]:
s.remove(100)

KeyError: 100

### Frozen Sets

    * Immutable Sets

In [284]:
s = frozenset({1,2 , 3, 4, 'java', 'c', 'c++'})

In [285]:
print(s)

frozenset({'c++', 1, 2, 3, 4, 'java', 'c'})

In [286]:
print(type(s), id(s), s)

<class 'frozenset'> 2018849264584 frozenset({'c++', 1, 2, 3, 4, 'java', 'c'})

In [288]:
print(*[ func for func in dir(s) if func[0].islower() ], sep='\n')

copy
difference
intersection
isdisjoint
issubset
issuperset
symmetric_difference
union

In [289]:
print(*[ func for func in dir(set) if func[0].islower() ], sep='\n')

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [291]:
s # constant

frozenset({1, 2, 3, 4, 'c', 'c++', 'java'})

In [295]:
s2  = { 1, 'hi', 'hello'}
s.intersection(s2)

frozenset({1})

**Boolean**

True # yes, 0

False # no, 1

    False ? False, None, 0, {}, [], (), '', any empty object

**None Type**

None

In [298]:
bool([])

False

In [299]:
bool(0)

False

In [300]:
bool(1)

True

In [301]:
bool(-10)

True

In [302]:
bool(None)

False

In [303]:
bool([ '' ]) # True [ '' ] --> list --> 1 element

True

### Type Casting in Python

In [305]:
x = int('124')
type(x)

int

In [306]:
x = int( input( 'str: ') )
print(type(x))

str: 45
<class 'int'>

In [307]:
x = 1001

In [308]:
int(x) # int --> decimal number, base=10

1001

**binary to decimal**

In [310]:
b = '1001'
d = int(b, base=2)
print(d)

9

**Octal number to binary conversion**

In [311]:
o = '123'
d = int(o, base=8)
print(d)

83

In [315]:
o = '12'
int(o, 8)

10

**Hexa-Decimal to Decimal Conversion**

In [316]:
x = 'abcd'
d = int(x, base=16)
print(d)

43981

In [319]:
x = 'c'
print(int(x, 16))

12

**float**

In [320]:
float(5)

5.0

In [321]:
float('34.56')

34.56

In [324]:
complex('123.2+234j')

(123.2+234j)

**Decimal to Binary**

In [331]:
x = 13 # ? 
b = bin(x)
print(b)
# type code --> 0b -> binary, 0x --> hexa decimal, 0o --> Octal number

0b1101

### Decimal to Octal

In [333]:
x = 123
o = oct(x)
print(o)

0o173

#### Decimal to Hexa-Decimal Numbers

In [334]:
x = 123
h = hex(x)
print(h)

0x7b

    how to convert a number using f-string or string formatting

In [336]:
first = 'Sachin'
second = 'India'
s = "Hello My name is %s and I Live in %s"%(first, second )
print(s)

Hello My name is Sachin and I Live in India

In [341]:
x  = 10
s = "value of x in Decimal %d"%(x)
print(s)
#s = "value of x in Bin %b"%(x)
#print(s)
s = "value of x in Octal %o"%(x)
print(s)
s = "value of x in HexaDecimal %x"%(x)
print(s)
s = "value of x in Float %.2f"%(x)
print(s)

value of x in Decimal 10
value of x in Octal 12
value of x in HexaDecimal a
value of x in Float 10.00

In [343]:
x  = 10
s = "value of x in Decimal {:d}".format(x)
print(s)
s = "value of x in Bin {:b}".format(x)
print(s)
s = "value of x in Octal {:o}".format(x)
print(s)
s = "value of x in HexaDecimal {:x}".format(x)
print(s)
s = "value of x in Float {:.2f}".format(x)
print(s)

value of x in Decimal 10
value of x in Bin 1010
value of x in Octal 12
value of x in HexaDecimal a
value of x in Float 10.00

In [345]:
# f-string
x  = 10
s = f"value of x in Decimal {x:d}"
print(s)
s = f"value of x in Bin {x:b}"
print(s)
s = f"value of x in Octal {x:o}"
print(s)
s = f"value of x in HexaDecimal {x:x}"
print(s)
s = f"value of x in Float {x:.2f}"
print(s)

value of x in Decimal 10
value of x in Bin 1010
value of x in Octal 12
value of x in HexaDecimal a
value of x in Float 10.00

## Str

In [346]:
str(1244)

'1244'

In [351]:
a = str([1, 3, 4, 5])
print(a, type(a))

[1, 3, 4, 5] <class 'str'>

In [355]:
a[3]

' '

In [348]:
str(('hello', 'hi'))

"('hello', 'hi')"

In [349]:
str({'key': 'value'})

"{'key': 'value'}"

## List(iterable)

In [356]:
list(12345)

TypeError: 'int' object is not iterable

In [357]:
list( ( 'java', 'c', 'item-1', 'item-2') )

['java', 'c', 'item1', 'item2']

In [358]:
list(str(123455))

['1', '2', '3', '4', '5', '5']

In [360]:
list(map(int, list(str(123456)))) # demo

[1, 2, 3, 4, 5, 6]

In [361]:
list({ 'name': 'python', 'version': 3.6, 'father': 'Guido', 'website': 'python.org'})

['name', 'version', 'father', 'website']

In [364]:
print(*'Python', sep='\n')

P
y
t
h
o
n

In [365]:
print(*['java', 'c', 'c++'], sep='\n')

java
c
c++

In [370]:
d = {'key':'value','key-1': 'value-1', 'key-2': 'value-2'}

In [371]:
print(*d, sep='\n')

key
key-1
key-2

In [372]:
print(*d.values(), sep='\n')

value
value-1
value-2

In [373]:
print(*d.keys(), sep='\n')

key
key-1
key-2

In [374]:
print(*d.items(), sep='\n')

('key', 'value')
('key-1', 'value-1')
('key-2', 'value-2')

In [375]:
d = { 'name': 'python', 'age': 24, 'father':'guido', 'version': 3.8}

In [376]:
lst = list(d.items())

In [377]:
print(lst)

[('name', 'python'), ('age', 24), ('father', 'guido'), ('version', 3.8)]

In [378]:
d = dict(lst)

In [379]:
print(d)

{'name': 'python', 'age': 24, 'father': 'guido', 'version': 3.8}

    dict(iterable) --> iterable should have key-value pair data

In [380]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

    remove all duplicate values from list

In [384]:
lst = [ 1,2 ,4 ,5, 3, 1,2, 34, 5, 3, 31, 2, 24, 46]

In [385]:
set(lst)

{1, 2, 3, 4, 5, 24, 31, 34, 46}

In [386]:
lst = list(set(lst))
print(lst)

[1, 2, 3, 4, 5, 34, 46, 24, 31]

In [387]:
frozenset('python')

frozenset({'h', 'n', 'o', 'p', 't', 'y'})

In [388]:
frozenset('tuple')

frozenset({'e', 'l', 'p', 't', 'u'})

In [389]:
bool('')

False

In [390]:
bool([])

False

In [391]:
bool(' ')

True

**String**

In [395]:
ord('a') # returns utf-8 encode value

97

In [396]:
ord('A')

65

In [397]:
ord('i')

105

In [398]:
chr(105) # return char form value

'i'

In [402]:
chr(2320)

'ऐ'

In [407]:
chr(2304)

'ऀ'

In [416]:
chr(2431)

'ॿ'

#### List Comprenshions

In [419]:
hindi = [ chr(value) for value in range(2304, 2432) ]

In [420]:
print(hindi)

['ऀ', 'ँ', 'ं', 'ः', 'ऄ', 'अ', 'आ', 'इ', 'ई', 'उ', 'ऊ', 'ऋ', 'ऌ', 'ऍ', 'ऎ', 'ए', 'ऐ', 'ऑ', 'ऒ', 'ओ', 'औ', 'क', 'ख', 'ग', 'घ', 'ङ', 'च', 'छ', 'ज', 'झ', 'ञ', 'ट', 'ठ', 'ड', 'ढ', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'ऩ', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ऱ', 'ल', 'ळ', 'ऴ', 'व', 'श', 'ष', 'स', 'ह', 'ऺ', 'ऻ', '़', 'ऽ', 'ा', 'ि', 'ी', 'ु', 'ू', 'ृ', 'ॄ', 'ॅ', 'ॆ', 'े', 'ै', 'ॉ', 'ॊ', 'ो', 'ौ', '्', 'ॎ', 'ॏ', 'ॐ', '॑', '॒', '॓', '॔', 'ॕ', 'ॖ', 'ॗ', 'क़', 'ख़', 'ग़', 'ज़', 'ड़', 'ढ़', 'फ़', 'य़', 'ॠ', 'ॡ', 'ॢ', 'ॣ', '।', '॥', '०', '१', '२', '३', '४', '५', '६', '७', '८', '९', '॰', 'ॱ', 'ॲ', 'ॳ', 'ॴ', 'ॵ', 'ॶ', 'ॷ', 'ॸ', 'ॹ', 'ॺ', 'ॻ', 'ॼ', 'ॽ', 'ॾ', 'ॿ']

In [422]:
ord('य')

2351

**Type Casting**

**Operators in Python**

1. Arithmatic Operators 

        +, -, *, /, %, //, **

* Comparision Operators 
    
        >, <, <=, >=, ==, !=
        
* Logical Operators

        and, or, not
        
* Bit-wise Operators
    
        ~, |, &, ^, <<, >>
        
* Membership Operators
    
        in, not in
        
* Identity Operators

        is, is not
        
* Assignment Operators

        = 
        
        +=, -=, *=, /=, %=, //=, **=  (shorthand operators)

#### Airthmatic

In [423]:
4 + 5

9

In [424]:
5 * 5

25

In [425]:
5 / 3 # true division

1.6666666666666667

In [426]:
22 / 7

3.142857142857143

In [427]:
25 / 5

5.0

In [428]:
22 // 7 # floor divion, int division

3

In [429]:
5 // 3

1

In [430]:
10 % 3

1

In [431]:
11 % 3

2

In [432]:
2 ** 2

4

In [433]:
5 ** 3

125

In [434]:
4 ** 4

256

In [435]:
9 ** 9

387420489

**Comparision Operator**

In [436]:
5 > 6

False

In [438]:
10 < 11

True

In [439]:
10 < 10

False

In [440]:
10 <= 10

True

In [442]:
4 >= 3

True

In [443]:
5 != 6

True

In [444]:
4 != 4

False

In [445]:
'hello' == 'Hello'

False

In [446]:
'hEllO'.casefold() == 'HeLLo'.casefold()

True

**Logical Operators**

In [447]:
True and True

True

In [448]:
True and False

False

In [449]:
False and True

False

In [450]:
False and True

False

In [451]:
bool( 0 and 1)

False

In [452]:
bool(print("hello") and input())

hello

False

In [453]:
x = print("hello")

hello

In [454]:
print(x)

None

In [455]:
0 and print("hello")

0

In [456]:
1 and print('hello')

hello

In [457]:
bool(1 and print('hello') )

hello

False

In [458]:
1 and input()

hi

'hi'

In [459]:
bool(1 and input())

hi

True

In [460]:
True or True

True

In [461]:
True or False

True

In [462]:
False or True

True

In [463]:
False or False

False

In [465]:
0 or 1

1

In [467]:
bool(print("hello") or print("bye"))

hello
bye

False

In [469]:
5 > 6 or 6 > 5

True

In [470]:
not 0

True

In [471]:
not ''

True

In [472]:
not 1

False

In [473]:
not True

False

In [475]:
not 4 > 3

False

In [476]:
sal = 25000

exp = 15000

In [478]:
sal > 20000 and (sal / 10 ) > 15000

False

    Bit-Wise, Membership, Identity, Assingment

**If-else, Loop**