**For Loop in Python**

syntax

    we use for loop for iteration 
    
    for item in iterable:
        st-1
        st-2
        st-3
        st-4
        ....
        st-n
    else:
        st-1
        st-2
        ...

**Iterables**

* Strings
* List
* Tuple
* Dict
* Set
* FrozenSet

**inbuilt iterable objects**

* range
* enumerate
* zip
* map
* filter
* sorted
* reversed

In [1]:
s = "Hello World!"

In [3]:
for char in s: #ello World
    print(char)
else:
    print('\nall characters are iterated')

H
e
l
l
o

W
o
r
l
d
!

all characters are iterated

In [4]:
for char in '1234567890':
    print("hello world times ", char)
else:
    print('\nthis is all about iteration')

hello world times  1
hello world times  2
hello world times  3
hello world times  4
hello world times  5
hello world times  6
hello world times  7
hello world times  8
hello world times  9
hello world times  0

this is all about iteration

In [5]:
s = 'Hello World!'
for char in s:
    if char.lower() in [ 'a', 'e', 'i', 'o', 'u']:
        continue
    elif char == '!':
        break
    print(char)
else:
    print("\nTell me the output ? ")

H
l
l

W
r
l
d

In [6]:
lang = [ 'java', 'c', 'c++', 'ruby', 'python']

In [7]:
for item in lang:
    print(item)
else:
    print("this is how we iterate any iterable object")

java
c
c++
ruby
python
this is how we iterate any iterable object

In [10]:
item = input("key: ")
if item in lang:
    print("Item Found")
else:
    print("Item Does Not Found")

key: html
Item Does Not Found

In [11]:
lang

['java', 'c', 'c++', 'ruby', 'python']

In [13]:
key = input("key: ")
for item in lang:
    if item == key:
        print("Item Found")
        break
else:
    print("Item Does Not Found")

key: html
Item Does Not Found

In [15]:
nums = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = 0 
for item in nums:
    s += item
    print(f'item = {item}, sum={s}')
else:
    print(f"\nsummation of all elements of {nums} are :  {s}")

item = 1, sum=1
item = 2, sum=3
item = 3, sum=6
item = 4, sum=10
item = 5, sum=15
item = 6, sum=21
item = 7, sum=28
item = 8, sum=36
item = 9, sum=45
item = 10, sum=55

summation of all elements of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] are :  55

In [16]:
nums = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = 0 
for item in nums:
    s += item**2
    print(f'item = {item}, sum={s}')
else:
    print(f"\nsquare summation of all elements of {nums} are :  {s}")

item = 1, sum=1
item = 2, sum=5
item = 3, sum=14
item = 4, sum=30
item = 5, sum=55
item = 6, sum=91
item = 7, sum=140
item = 8, sum=204
item = 9, sum=285
item = 10, sum=385

square summation of all elements of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] are :  385

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
print("hello", "world") # hello world\n
print("how", "are", "you", "?")# how are you

hello world
how are you ?

In [21]:
print('hello', 'world', sep=', ')

hello, world

In [23]:
print("hello")# hello , \n
print("world")# world, \n

hello
world

In [24]:
print('hello', end=' ') # hello world
print('world')

hello world

In [26]:
print("hello", "world", sep='\t', end='\t') # hello world\n
print("how", "are", "you", "?", sep='\t')# how are you

hello	world	how	are	you	?

In [27]:
lst = [ ]
while input('press any key to add elements in list : ').strip():
    item = input("Item: ")
    lst.append(item)
else:
    print("\nHere is Your List: ", lst)

press any key to add elements in list : k
Item: java
press any key to add elements in list : k
Item: c
press any key to add elements in list : k
Item: c++
press any key to add elements in list : k
Item: ruby
press any key to add elements in list :

Here is Your List:  ['java', 'c', 'c++', 'ruby']

In [28]:
lst = []
for char in '12345':
    item = input(f"item[{char}]: ")
    lst.append(item)
else:
    print("here is your list: ", lst)

item[1]: clothes
item[2]: shoes
item[3]: watch
item[4]: mobile phone
item[5]: fruits
here is your list:  ['clothes', 'shoes', 'watch', 'mobile phone', 'fruits']

In [30]:
lst = []
for char in '12345':
    lst.append(int(input(f"item[{char}]: ")))
else:
    print("here is your list: ", lst)

item[1]: 1
item[2]: 6
item[3]: 4
item[4]: 7
item[5]: 2
here is your list:  [1, 6, 4, 7, 2]

In [31]:
tup = (1,2, 3,)
s = { 1,2 , 'java', 'element'}
for item in tup:
    print(item)
for item in s:
    print(item)

1
2
3
element
1
2
java

In [32]:
info = { 'name': 'python', 'version': 3.8, 'father':'Guido Van Rossum',
       'lauch_year': 1994, 'modules':{
           'web': [ 'flask', 'django'],
           'automation': [ 'ansible', 'openstack']
       }}

In [33]:
for element in info:
    print(element)
else:
    print("Any Guess how it will run ?")

name
version
father
lauch_year
modules
Any Guess how it will run ?

In [48]:
for key in info:
    print(f"{key:<10} = {info[key]}")
else:
    print('way to iterate dictionaries')

name       = python
version    = 3.8
father     = Guido Van Rossum
lauch_year = 1994
modules    = {'web': ['flask', 'django'], 'automation': ['ansible', 'openstack']}
way to iterate dictionaries

In [51]:
len('abcdefghijklmnopqrst')

20

In [52]:
info['abcdefghijklmnopqrst']  = 'some value'
for key in info:
    print(f"{key:>20} = {info[key]}")
else:
    print('way to iterate dictionaries')

                name = python
             version = 3.8
              father = Guido Van Rossum
          lauch_year = 1994
             modules = {'web': ['flask', 'django'], 'automation': ['ansible', 'openstack']}
abcdefghijklmnopqrst = some value
way to iterate dictionaries

In [47]:
value = 4
f"{value:<10}"

'4         '

**tuple unpacking**

In [53]:
'sachin', 24, 'India'

('sachin', 24, 'India')

In [55]:
t = 'sachin', 24, 'India' # tuple packing
print(type(t), t)

<class 'tuple'> ('sachin', 24, 'India')

In [58]:
name, age, country = ('sachin', 24, 'India') # tuple unpacking

In [59]:
print(name, age, country, sep='\n')

sachin
24
India

In [67]:
n, m, p, c = data[0] # tuple unpacking
print(n, m, p, c, sep=', ')

sachin, 78, 56, 98

In [61]:
data = [
    # name, maths, phy, chem
    [ 'sachin', 78, 56, 98],
    [ 'rajat', 56, 76, 76],
    [ 'nidhi', 87, 89, 67],
    [ 'tanvi', 78, 67, 87]
    
]

In [72]:
print("_"*48)
print(f"| {'Name'.center(20)} | {'Maths'.center(5)} | {'PHY'.center(5)} | {'CHEM'.center(5)} |")
for n, m, p, c in data:
      m, p, c = str(m), str(p), str(c)
      print("_"*48)
      print(f"| {n.center(20)} | {m.center(5)} | {p.center(5)} | {c.center(5)} |")
else:
      print("_"*48)

________________________________________________
|         Name         | Maths |  PHY  |  CHEM |
________________________________________________
|        sachin        |   78  |   56  |   98  |
________________________________________________
|        rajat         |   56  |   76  |   76  |
________________________________________________
|        nidhi         |   87  |   89  |   67  |
________________________________________________
|        tanvi         |   78  |   67  |   87  |
________________________________________________

In [73]:
'*'*10

'**********'

In [74]:
'sachin '*20

'sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin sachin '

In [75]:
for row in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(row, "*"*row)

1 *
2 **
3 ***
4 ****
5 *****
6 ******
7 *******
8 ********
9 *********
10 **********

In [80]:
for row in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(f"{11-row:>3}", "*"*(11-row))

 10 **********
  9 *********
  8 ********
  7 *******
  6 ******
  5 *****
  4 ****
  3 ***
  2 **
  1 *

In [82]:
info.pop('abcdefghijklmnopqrst')

'some value'

In [83]:
info

{'name': 'python',
 'version': 3.8,
 'father': 'Guido Van Rossum',
 'lauch_year': 1994,
 'modules': {'web': ['flask', 'django'],
  'automation': ['ansible', 'openstack']}}

In [85]:
for key, value in info.items():
    print(f"{key:>10} = {value}")
else:
    print('\nwhat i should to fix this error')

      name = python
   version = 3.8
    father = Guido Van Rossum
lauch_year = 1994
   modules = {'web': ['flask', 'django'], 'automation': ['ansible', 'openstack']}

what i should to fix this error

In [90]:
info['versions'] = [ '1.X', '2.X', '3.X']

In [95]:
for key, value in info.items():
    if type(value) in [int, float, complex, str]:
        print(f"\n{key:>10} = {value}")
    if type(value) in [ list, tuple, set]:
        print(f"\n{key:>10} = ", end='')
        print(*value, sep=', ')
    if type(value) == dict:
        print(f"\n{key:>10} - ")
        for key, value in value.items():
            print(f"\n{key:>20} = {value}")
else:
    print('\nwhat i should to fix this error')

      name = python

   version = 3.8

    father = Guido Van Rossum

lauch_year = 1994

   modules -

                 web = ['flask', 'django']

          automation = ['ansible', 'openstack']

  versions = 1.X, 2.X, 3.X

what i should to fix this error

**Inbuild Functions which generate iterables**

    range(end)
        eg. range(5) - 0, 1, 2, 3, 4
    range(start, end)
        eg. range(15,20) - 15, 16, 17, 18, 19
    range(start, end, jump)
        eg. range(1,10,2) - 1, 3, 5, 7, 9
        eg. range(10, 0, -1) - 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [97]:
print(range(5))

range(0, 5)

In [99]:
print(*range(5), sep=', ')

0, 1, 2, 3, 4

In [100]:
print(*range(15, 20), sep=', ')

15, 16, 17, 18, 19

In [101]:
print(*range(1, 10, 2), sep=', ')

1, 3, 5, 7, 9

In [102]:
print(*range(10, 0, -1), sep=', ')

10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [103]:
n = int(input("number: ")) # n = 5
print(*range(n, n*11, n), sep='\n')

number: 5
5
10
15
20
25
30
35
40
45
50

In [104]:
for c in range(1, 11):
    print("hello world times: ", c)

hello world times:  1
hello world times:  2
hello world times:  3
hello world times:  4
hello world times:  5
hello world times:  6
hello world times:  7
hello world times:  8
hello world times:  9
hello world times:  10

In [105]:
for num in range(1, 201):
    if num % 5 == 0 and num % 7 == 0:
        print(num)
else:
    print('\nSweet Right')

35
70
105
140
175

Sweet Right

In [106]:
s = 0
for num in range(int(input("Start: ")), int(input("End: "))+1):
    s += num
else:
    print("Summation: ", s)

Start: 1
End: 100
Summation:  5050

In [107]:
s = 0
for num in range(int(input("Start: ")), int(input("End: "))+1):
    s += num**2
else:
    print("Summation: ", s)

Start: 1
End: 100
Summation:  338350

**enumerate**

    syntax
        
        it_ob = enumerate(iterable)
        
        will generate a seq in form of a tuple having counter from 0 and value from iterable
        
        eg. enumerate('Python')
            (0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')

In [108]:
print(enumerate('Python'))

<enumerate object at 0x00000295EFE91868>

In [109]:
print(*enumerate('Python'), sep='\n')

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [112]:
print(*enumerate([ 'java', 'c', 'c++']), sep='\n')

(0, 'java')
(1, 'c')
(2, 'c++')

In [116]:
for i, char in enumerate('Python'):
    print(i, char)
else:
    print("enumeration of iterable object")

0 P
1 y
2 t
3 h
4 o
5 n
enumeration of iterable object

In [119]:
for i, item in enumerate([ 'java', 'c', 'c++', 'ruby', 'python', 'perl']):
    print(f"{i+1}. {item}")
else:
    print('\nbetter')

1. java
2. c
3. c++
4. ruby
5. python
6. perl

better

In [120]:
print("_"*56)
print(f"| {'S.No'.center(5)} | {'Name'.center(20)} | {'Maths'.center(5)} | {'PHY'.center(5)} | {'CHEM'.center(5)} |")
for i, (n, m, p, c) in enumerate(data):
      m, p, c, i = str(m), str(p), str(c), str(i+1)
      print("_"*56)
      print(f"| {i.center(5)} | {n.center(20)} | {m.center(5)} | {p.center(5)} | {c.center(5)} |")
else:
      print("_"*56)

________________________________________________________
|  S.No |         Name         | Maths |  PHY  |  CHEM |
________________________________________________________
|   1   |        sachin        |   78  |   56  |   98  |
________________________________________________________
|   2   |        rajat         |   56  |   76  |   76  |
________________________________________________________
|   3   |        nidhi         |   87  |   89  |   67  |
________________________________________________________
|   4   |        tanvi         |   78  |   67  |   87  |
________________________________________________________

In [121]:
# advance tuple unpacking
name, (first, second) = [ 'sachin', ('hindi', 'english') ]
print(name)
print(first)
print(second)

sachin
hindi
english

In [122]:
n, m, p, c = ('sachin', 45, 67, 76)

In [123]:
print(n,m,p,c)

sachin 45 67 76

In [125]:
i, (n, m, p, c) =(0, ('sachin', 45, 67, 76))
print(i, n, m, p, c)

0 sachin 45 67 76

In [126]:
from time import sleep
from tqdm import tqdm

for _ in tqdm(range(900)):
    sleep(1)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [15:01<00:00,  1.00s/it]

    zip
    sorted
    reversed 
    map
    filter

In [127]:
name = [ 'apple', 'one plus', 'samsung', 'oppo']
quantity   = [  10, 8, 13, 15]
price =  [ 80000, 35000, 60000, 25000 ]

In [128]:
sells = []
for index in range(len(name)): # range(4) - 0, 1, 2, 3
    value = ( name[index], quantity[index], price[index] )
    sells.append(value)
else:
    print(sells)

[('apple', 10, 80000), ('one plus', 8, 35000), ('samsung', 13, 60000), ('oppo', 15, 25000)]

In [129]:
sells = list(zip(name, quantity, price))
print(sells)

[('apple', 10, 80000), ('one plus', 8, 35000), ('samsung', 13, 60000), ('oppo', 15, 25000)]

In [130]:
s1 = 'pto'
s2 = 'yhn'
z = zip(s1, s2) # one time use
print(z)

<zip object at 0x00000295F00595C8>

In [131]:
print(*z)

('p', 'y') ('t', 'h') ('o', 'n')

In [134]:
name = [ 'apple', 'one plus', 'samsung', 'oppo']
quantity   = [  10, 8, 13, 15]
price =  [ 80000, 35000, 60000, 25000 ]
print(f"{'name':>10} {'price':>5} \t {'qn':>5}")
for n, p, q in zip(name, quantity, price):
    print(f"{n:>10} {p:>5}  \t {q:>5}")

      name price 	    qn
     apple    10  	 80000
  one plus     8  	 35000
   samsung    13  	 60000
      oppo    15  	 25000

In [136]:
l = [ 5, 3, 4, 6, 7, 8,9, 1, 4, 8, 9, 2]

In [141]:
for item in sorted(l, reverse=True):
    print(item, end=', ')

9, 9, 8, 8, 7, 6, 5, 4, 4, 3, 2, 1,

In [143]:
t = ('java', 'c', 'ruby', 'perl', 'python')
for item in sorted(t, reverse=True):
    print(item, end=', ')

ruby, python, perl, java, c,

In [144]:
s = { 4, 6, 8, 4, 9, 3, 1, 6, 8, 2}
for item in sorted(s, reverse=True):
    print(item, end=', ')

9, 8, 6, 4, 3, 2, 1,

In [145]:
s = 'python'
for char in reversed(s):
    print(char)

n
o
h
t
y
p

In [146]:
s = [ 'pen', 'copy', 'bag',]
for char in reversed(s):
    print(char)

bag
copy
pen

In [147]:
s

['pen', 'copy', 'bag']

**map**

In [148]:
data = [ '1', '5', '19', '45', '36', '34', '3']

In [149]:
result = []
for item in data:
    i = int(item)
    result.append(i)
else:
    print("Old Data: ", data)
    print("Map Data: ", result)

Old Data:  ['1', '5', '19', '45', '36', '34', '3']
Map Data:  [1, 5, 19, 45, 36, 34, 3]

In [151]:
print(*map(int, data)) # single time use

1 5 19 45 36 34 3

In [152]:
data

['1', '5', '19', '45', '36', '34', '3']

In [153]:
result = list( map( int, data ) )
print(result)

[1, 5, 19, 45, 36, 34, 3]

In [157]:
integers = list(map(int, input().split()))

56 45 78 34

In [158]:
print(integers)

[56, 45, 78, 34]

In [160]:
s = 0
for item in map(int, input("numbers: ").split()):
    s += item
else:
    print("sum of all items is: ", s)

numbers: 34 56 34 23
sum of all items is:  147

### Hacker Rank

    space seprated input

In [ ]:
[
    [1, 2, 3],
    [ 4, 5, 6],
] # 2, 3

In [161]:
from pprint import pprint

In [163]:
nrows = int(input("nrows: "))
ncols = int(input("ncols: "))

matrix = [ ]
for row in range(nrows):
    inner = [] # [1, 2, 3]
    for col in range(ncols):
        item = int(input(f"Item[{row}][{col}]: "))
        inner.append(item)
    matrix.append(inner)
else:
    pprint(matrix)

nrows: 4
ncols: 5
Item[0][0]: 1
Item[0][1]: 2
Item[0][2]: 3
Item[0][3]: 4
Item[0][4]: 5
Item[1][0]: 6
Item[1][1]: 7
Item[1][2]: 8
Item[1][3]: 9
Item[1][4]: 10
Item[2][0]: 11
Item[2][1]: 12
Item[2][2]: 13
Item[2][3]: 14
Item[2][4]: 15
Item[3][0]: 16
Item[3][1]: 17
Item[3][2]: 18
Item[3][3]: 19
Item[3][4]: 20
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

In [166]:
nrows = int(input("nrows: "))
ncols = int(input("ncols: "))

matrix = [ ]
for row in range(nrows):
    inner = list( map( int, input(f"Row[{row}]: ").split()))
    matrix.append(inner)
else:
    pprint(matrix)

nrows: 4
ncols: 5
Row[0]: 1 2 3 4 5
Row[1]: 6 7 8 9 10
Row[2]: 11 12 13 14 15
Row[3]: 16 17 18 19 20
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

## List Comprehensions

In [168]:
nums = [ num for num in range(1, 11) ]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [169]:
nums = [ num for num in range(1, 20) if num % 2 == 0 ]
nums

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [170]:
from random import randint

In [174]:
rnums = []
for _ in range(10):
    rnum = randint(1, 50)
    rnums.append(rnum)

In [176]:
rnums

[46, 9, 33, 2, 37, 8, 12, 41, 26, 33]

In [177]:
rnums = [ randint(1, 50) for _ in range(10) ]
print(rnums)

[40, 45, 49, 34, 39, 46, 4, 1, 32, 7]

In [182]:
matrix = [
    list( map(int, input(f'Row[{row}]: ').split() ) )  
    
    for row in range(int(input("nrows: ")))
        ]
print(matrix)

nrows: 4
Row[0]: 1 2 3
Row[1]: 4 5 6
Row[2]: 7 8 9
Row[3]: 10 11 12
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

0,0
0,1
0,2

1,0
1,1
1,2

2,0
2,1
2,2

In [186]:
for i in range(3):
    for j in range(3):
        print(i, j, sep=', ')
    print()

0, 0
0, 1
0, 2

1, 0
1, 1
1, 2

2, 0
2, 1
2, 2

In [187]:
lst = [ (item1, item2) for item1 in range(3)
          for item2 in range(3)
      ]

In [191]:
print(*map(print, lst))

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
None None None None None None None None None

In [193]:
d = { 
    'name': 'python', 
    'versions': [ 'java', 'c', 'c++'],
    'modules': {
        'web': [ 'web2py', 'django', 'flask'],
        'data science': [ 'numpy', 'pandas', 'scipy'],
        'machine learning': [ 'tensorflow', 'keras', 'sklearn']
    },
    'father': 'Guido Van Rossum', 
    'launch': 1994,
    'current_version': 3.8,
    'website': 'python.org'
}

In [194]:
print(d)

{'name': 'python', 'versions': ['java', 'c', 'c++'], 'modules': {'web': ['web2py', 'django', 'flask'], 'data science': ['numpy', 'pandas', 'scipy'], 'machine learning': ['tensorflow', 'keras', 'sklearn']}, 'father': 'Guido Van Rossum', 'launch': 1994, 'current_version': 3.8, 'website': 'python.org'}

In [195]:
from pprint import pprint

In [196]:
pprint(d)

{'current_version': 3.8,
 'father': 'Guido Van Rossum',
 'launch': 1994,
 'modules': {'data science': ['numpy', 'pandas', 'scipy'],
             'machine learning': ['tensorflow', 'keras', 'sklearn'],
             'web': ['web2py', 'django', 'flask']},
 'name': 'python',
 'versions': ['java', 'c', 'c++'],
 'website': 'python.org'}

#### File Handling

    files are permanent collection of data (bytes)

    program - primary (RAM)

    files - secondary (HDD/SSD)

#### Type of files

    Regular Files (Human Readable Files)
        .txt, .csv, .log, .json, .yml, .xml, .py, .c
    
    Byte Files (Machine Readable/ Binary Data)
        .jpeg, .mp4, .obj, .pyc, .class

    Default Encoding - utf-8
    
    char-mapping

**syntax**

    file = open(path, mode,  buffering, encoding)
    
    mode 
        t - text file (regular file, default)
        b - byte file 
        r - read only (default)
        w - write only (it will remove existing file & it's content)
        x - new writeable file only (throw an error if file exists)
        a - append only 
        + - read & write capabilities
        
        rt+ - can read and write text file
        wb+ - can read and write byte file
        
    operation
    
        tell - which tells current pos of pointer
        seek - which used to navigate file
        
        read - to read chars/bytes from file
        write - to write chars/bytes to a file
        
        readline - to read a single line
        writelines - to write multiple lines

tomorrow agenda 
    
    os module
    serlization & file handling
    functions in python

In [200]:
path = "C:\\Users\\sachin\\Desktop\\hello.txt"

fp = open(path, 'rt')

In [201]:
print(type(fp))

<class '_io.TextIOWrapper'>

In [203]:
print(*[ func for func in dir(fp) if func[0].islower() ], sep='\n')

buffer
close
closed
detach
encoding
errors
fileno
flush
isatty
line_buffering
mode
name
newlines
read
readable
readline
readlines
reconfigure
seek
seekable
tell
truncate
writable
write
write_through
writelines

In [204]:
fp.mode

'rt'

In [206]:
fp.writable()

False

In [207]:
fp.readable()

True

In [208]:
fp.tell()

0

In [209]:
data = fp.read(5)

In [210]:
data

'Welco'

In [211]:
fp.tell()

5

In [212]:
data = fp.read(5)

In [213]:
data

'me to'

In [214]:
fp.tell()

10

In [215]:
fp.seek(0)

0

In [216]:
fp.tell()

0

In [217]:
data = fp.read()

In [218]:
print(data)

Welcome to File Handling With Python.
	It's very Easy

In [219]:
fp.close()

In [220]:
path

'C:\\Users\\sachin\\Desktop\\hello.txt'

In [221]:
fp = open(path, 'wt+')

In [222]:
fp.read()

''

In [223]:
fp.tell()

0

In [224]:
s = """name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47
"""

In [225]:
print(s)

name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47

In [226]:
fp.write(s)

94

In [227]:
fp.close()

    read marks file and print percentage marks of all students and also print subject wise percentage