## File Handling

In [2]:
!cat hello.txt

name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47

**Context Managers**
    
    Manage Resource utilization in python we do it by with statement

In [3]:
fp = open('bye.txt', 'w')

In [4]:
fp.write('hello this is normal file\n')

26

In [5]:
fp.write('let\'start file handling\n')

24

In [7]:
for var in range(1, 11):
    print(var, end=' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
def hello():
    print("hello World")
    
hello()

hello World

In [9]:
fp.closed

False

In [10]:
fp.close()

In [11]:
# context manager
with open('bye.txt', 'w') as fp:
    fp.write('ha ha ha\n')
    fp.write('ohh i can see the use of context manager')
    fp.write('\nthey perform certain operation to ensure your resource can be free.')

In [12]:
fp.closed

True

In [13]:
!cat hello.txt

name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47

In [16]:
with open('hello.txt', 'rt') as file:
    for line in file:
        print(line, end='')
    file.close()

name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47

In [17]:
'sachin, 67, 76, 87'.split(',')

['sachin', ' 67', ' 76', ' 87']

In [18]:
name = 'sachin, 67, 76, 87'.split(',')[0]
print(name)

sachin

In [19]:
marks = 'sachin, 67, 76, 87'.split(',')[1:]
marks

[' 67', ' 76', ' 87']

In [23]:
round(sum(map(int, marks)) / 3, 2)

76.67

In [29]:
with open('hello.txt', 'rt') as file:
    data = []
    header = file.readline()
    for line in file:
        name = line.split(',')[0]
        per  = round( sum( map(int, line.split(',')[1:] ) ) / 3  , 2)
        data.append(name+','+ str(per))
    fp.close()

In [30]:
data

['sachin,76.67', 'rajat,73.67', 'nidhi,73.67', 'nikita,52.33']

In [33]:
with open('student_result.csv', 'wt') as file:
    file.write('Name,Percentage\n')
    for item in data:
        print(item, file=file)
    file.close()

In [34]:
!type student_result.csv

Name,Percentage
sachin,76.67
rajat,73.67
nidhi,73.67
nikita,52.33

In [35]:
with open('result.csv', 'wt') as file:
    file.write('Name,Percentage\n'+'\n'.join(data))
    file.close()

In [36]:
!type result.csv

Name,Percentage
sachin,76.67
rajat,73.67
nidhi,73.67
nikita,52.33

**Drawback of using plain files**

In [39]:
with open('result.csv', 'rt+') as file:
    data = file.read()
    print("_"*30)
    print("Before")
    print("_"*30)
    print(data)
    file.write('\nVijay,99.99')
    print("_"*30)
    print("After")
    print("_"*30)
    file.seek(0)
    print(file.read())
    file.close()

______________________________
Before
______________________________
Name,Percentage
sachin,76.67
rajat,73.67
nidhi,73.67
nikita,52.33
Vijay,99.99
______________________________
After
______________________________
Name,Percentage
sachin,76.67
rajat,73.67
nidhi,73.67
nikita,52.33
Vijay,99.99
Vijay,99.99

In [ ]:
file.flush() # write immediately

In [41]:
file1 = open('hello.txt')
file2 = open('result.csv')
print(file1.read())
print(file2.read())
file1.close()
file2.close()

name,maths,phy,chem
sachin, 67, 76, 87
rajat, 67, 87, 67
nidhi, 67, 87, 67
nikita, 45, 65, 47

Name,Percentage
sachin,76.67
rajat,73.67
nidhi,73.67
nikita,52.33
Vijay,99.99
Vijay,99.99

    Processing of Data is Too Dificult in files just because you always deals with string

### Serilizers and De-serilizers

    Serilization - De-serlization

    Data Interchange Language

In [ ]:
xml, json, yml, pickle

    Serlization is a process of converting any object(data type) into byte streams (strings) [ write ]
    
    De-Serlization is a process of converting any byte stream (string) into a valid object [ read ]

In [42]:
import json

    JSON - JAVA SCRIPT OBJECT NOTATION
    
    we can convert these types of python into json type 
    
    python      json
    int         int
    float       double
    string      string
    list        array 
    dictionary  object
    
    we can not convert complex, set, frozenset, tuple these types just beacuse they specific to python

In [ ]:
    json.load(fp) - will read file data and convert it into object (De-Serlization)
    json.loads(string) - will convert string into object (De-Serlization)
    
    json.dump(object, fp) - will convert object into bytes(strings) and will write in fp
    json.dmups(object) - will convert object into strings

In [44]:
d = { 'name': 'python', 'father':'Guido', 'version':3.8}
s = json.dumps(d)# we are converting a dict into str so this is serlization

In [45]:
print(type(d), d)

<class 'dict'> {'name': 'python', 'father': 'Guido', 'version': 3.8}

In [46]:
print(type(s), s)

<class 'str'> {"name": "python", "father": "Guido", "version": 3.8}

In [47]:
x  = json.loads(s) # we are converting a string into dict so this is de-serlization
print(type(s), s)
print(type(x), x)

<class 'str'> {"name": "python", "father": "Guido", "version": 3.8}
<class 'dict'> {'name': 'python', 'father': 'Guido', 'version': 3.8}

In [48]:
d = { 
    'sachin': [ 56, 78, 90],
    'rajat': [ 45, 67, 87],
    'nidhi': [ 76, 87, 78]
}

In [51]:
fp = open('student.json', 'w')
json.dump(d, fp) # we will using many lines, readable
fp.close()

In [52]:
!type student.json

{"sachin": [56, 78, 90], "rajat": [45, 67, 87], "nidhi": [76, 87, 78]}

In [53]:
del d

In [55]:
with open('student.json', 'rt') as file:
    data = json.load(file)
    file.close()

In [57]:
type(data)

dict

In [56]:
data

{'sachin': [56, 78, 90], 'rajat': [45, 67, 87], 'nidhi': [76, 87, 78]}

In [60]:
result = {}
for name, marks in data.items():
    result[name] =  round(sum(marks)/3)

In [61]:
result

{'sachin': 75, 'rajat': 66, 'nidhi': 80}

In [62]:
fp = open('result.json', 'w')
json.dump(result, fp)
fp.close()

    we can not store all python objects using json just beacuse json is data interchange language

    pickle is default serilizer of python

In [63]:
import pickle

    pickle read and write bytes not strings

In [64]:
data

{'sachin': [56, 78, 90], 'rajat': [45, 67, 87], 'nidhi': [76, 87, 78]}

In [65]:
byte = pickle.dumps(data)

In [66]:
print(type(byte))

<class 'bytes'>

In [ ]:
print(byte)

In [69]:
fp = open('student.pkl', 'wb')
pickle.dump(data, fp)
fp.close()

In [ ]:
!type student.pkl

In [71]:
del data

In [73]:
fp = open('student.pkl', 'rb')
data = pickle.load(fp)
fp.close()

In [75]:
print(type(data), data)

<class 'dict'> {'sachin': [56, 78, 90], 'rajat': [45, 67, 87], 'nidhi': [76, 87, 78]}

In [76]:
json.dumps({1, 2, 3, 4, 6})

TypeError: Object of type set is not JSON serializable

In [ ]:
pickle.dumps({1, 'hi', 2, 3, 4, 5})

In [81]:
s = json.dumps(('java', 'c', 'c++'))
s

'["java", "c", "c++"]'

In [82]:
t = json.loads(s)
t

['java', 'c', 'c++']

In [ ]:
b = pickle.dumps(('java', 'c', 'c++'))
b

In [84]:
l = pickle.loads(b)
l

('java', 'c', 'c++')

In [ ]:
pickle.dumps(range(1,50))

In [ ]:
pickle.dumps(map(int, ['1', '2', '3']))

In [96]:
class Person:
    cls_name = 'Humans'
    def __init__(self, name):
        self.name = name
    def hello(self):
        print("hello World")
    def __str__(self):
        return self.name

In [97]:
p = Person('Sachin Yadav')

In [98]:
p.name

'Sachin Yadav'

In [99]:
p.cls_name

'Humans'

In [100]:
print(p)

Sachin Yadav

In [101]:
p.age = 24

In [102]:
p.color = 'fair'; p.country = 'India'

In [103]:
fp = open('sachin.pkl', 'wb')
pickle.dump(p, fp)
fp.close()

In [104]:
del p

In [106]:
fp = open('sachin.pkl', 'rb')
p = pickle.load(fp)
fp.close()

In [108]:
print(p)

Sachin Yadav

In [109]:
p.cls_name

'Humans'

In [110]:
p.country

'India'

In [112]:
p.color

'fair'

In [114]:
pwd

'C:\\Users\\sachin\\Desktop\\Techno_Intern_Batch'

mode of operations in a file

    r - read only
    w - write only
    x - new file write mode
    a - append
    
    t - text / regular file
    b - byte file
    
    + - it opens file for read and write purpose
    
    rt+ - read and write on a regular file

which is more suitable to use a serlizer in python pickle or json ? 

    if you exchanging data with other developers (different language) than use JSON
    
    if your project only works in python than pickle if best for serlization

#### Functions in Python

    group of statements to perform a specific task

why we use function ? 

    Reusablility of code
    Modular Programming
    Debugging is easy
    Coding Become Eaiser

In [115]:
import builtins

In [117]:
print(*[ func for func in dir(builtins) if func[0].islower()], sep=', ')

abs, all, any, ascii, bin, bool, breakpoint, bytearray, bytes, callable, chr, classmethod, compile, complex, copyright, credits, delattr, dict, dir, display, divmod, enumerate, eval, exec, filter, float, format, frozenset, get_ipython, getattr, globals, hasattr, hash, help, hex, id, input, int, isinstance, issubclass, iter, len, license, list, locals, map, max, memoryview, min, next, object, oct, open, ord, pow, print, property, range, repr, reversed, round, set, setattr, slice, sorted, staticmethod, str, sum, super, tuple, type, vars, zip

In [118]:
print("Hello World") # it does not return anything

Hello World

In [119]:
x = print('hello world')

hello world

In [120]:
print(x)

None

In [121]:
x  = input()# user input and return as string
print(x)

always returns a value as a string
always returns a value as a string

## User Define Functions (Custom Function)

**syntax**

    def func_name(arg_1, arg_2, ...):
        """
            doc-string which tells about functionality of this function
        """
        st-1
        st-2
        st-3
        ...
        st-4
        
        return value ?

In [129]:
# we are defining a function
def greet(name): # argument/parameter - formal parameters
    """
        greet(name) - will greet you with your name
    """
    print(f'Hello user {name} to the world of Python.')

In [131]:
greet('sachin') # calling a function # actual arguments or parameters

Hello user sachin to the world of Python.

In [127]:
help(greet)

Help on function greet in module __main__:

greet(name)
    greet(name) - will greet you with your name

In [128]:
greet

In [132]:
greet('python')

Hello user python to the world of Python.

In [133]:
users = [ 'ram', 'shyam', 'ghyanshyam', 'hari', 'mohan']

In [135]:
for name in users:
    greet(name)
    print()

Hello user ram to the world of Python.

Hello user shyam to the world of Python.

Hello user ghyanshyam to the world of Python.

Hello user hari to the world of Python.

Hello user mohan to the world of Python.

In [140]:
while True:
    break
    print("hello")

In [141]:
def hello():
    print("hello world")
    return
    print("hi world")
hello()

hello world

In [142]:
def hello():
    return 'hello world'

hello()

'hello world'

In [143]:
m = hello()
print(m)

hello world

In [144]:
def even_odd(number):
    """
        returns Even if given number is Even else returns False
    """
    if number % 2 == 0:
        return 'Even'
    return 'Odd'

In [148]:
r = even_odd(10)
print(r)

Even

In [145]:
print(even_odd.__doc__)

        returns Even if given number is Even else returns False

In [146]:
help(even_odd)

Help on function even_odd in module __main__:

even_odd(number)
    returns Even if given number is Even else returns False

In [149]:
from random import randint

In [150]:
data = [ randint(1, 20) for var in range(20)]

In [151]:
data

[15, 18, 14, 14, 6, 12, 18, 5, 12, 6, 7, 8, 13, 20, 17, 18, 16, 8, 6, 16]

In [155]:
for item in data:
    print(f"{item:<3} is {even_odd(item)}.")

15  is Odd.
18  is Even.
14  is Even.
14  is Even.
6   is Even.
12  is Even.
18  is Even.
5   is Odd.
12  is Even.
6   is Even.
7   is Odd.
8   is Even.
13  is Odd.
20  is Even.
17  is Odd.
18  is Even.
16  is Even.
8   is Even.
6   is Even.
16  is Even.

In [1]:
def find_result(in_file, out_file):
    """
        find_result(infile, out_file) -> will process your input file and generate result in output file
        
        constraint: format should be name,sub1,sub2,sub3 
    """
    with open(in_file, 'rt') as file:
        data = []
        header = file.readline()
        for line in file:
            name = line.split(',')[0]
            per  = round( sum( map(int, line.split(',')[1:] ) ) / 3  , 2)
            data.append(name+','+ str(per))
        file.close()
    with open(out_file, 'w') as file:
        file.write('Name,Percentage\n'+"\n".join(data))
        file.close()
    print(f"Output is sucessfully written in {out_file}")

In [2]:
from random import randint
def gen_marks(students, fname):
    data = []
    for name in students:
        marks = [ str(randint(50, 100)) for _ in range(3)]
        data.append(name+','+','.join(marks))
    with open(fname, 'w') as fp:
        fp.write('Name,Math,Phy,Chem\n')
        fp.write('\n'.join(data))
        fp.close()
    print("Data Successfully Written in ", fname)

In [3]:
one = [ 'sachin', 'vijay', 'tanvi', 'samunder']
two = [ 'rajat', 'nidhi', 'kushal', 'manish']
three = [ 'yadvendra', 'nikita', 'simran', 'jeet']

In [4]:
for i, item in enumerate([ one, two, three]):
    gen_marks(item, f'marks_{i}.csv')

Data Successfully Written in  marks_0.csv
Data Successfully Written in  marks_1.csv
Data Successfully Written in  marks_2.csv

In [5]:
!type marks_0.csv

Name,Math,Phy,Chem
sachin,100,99,97
vijay,53,70,79
tanvi,59,73,67
samunder,100,70,77

In [6]:
!type marks_1.csv

Name,Math,Phy,Chem
rajat,71,95,86
nidhi,94,58,80
kushal,51,91,50
manish,77,84,50

In [7]:
!type marks_2.csv

Name,Math,Phy,Chem
yadvendra,88,100,63
nikita,93,69,51
simran,60,100,85
jeet,88,67,78

In [8]:
in_files = [ 'marks_0.csv', 'marks_1.csv', 'marks_2.csv']
out_files = [ 'result_0.csv', 'result_1.csv', 'result_2.csv']

In [9]:
for i, o in zip(in_files, out_files):
    find_result(i, o)

Output is sucessfully written in result_0.csv
Output is sucessfully written in result_1.csv
Output is sucessfully written in result_2.csv

In [10]:
!type result_0.csv

Name,Percentage
sachin,98.67
vijay,67.33
tanvi,66.33
samunder,82.33

In [11]:
!type result_1.csv

Name,Percentage
rajat,84.0
nidhi,77.33
kushal,64.0
manish,70.33

In [12]:
!type result_2.csv

Name,Percentage
yadvendra,83.67
nikita,71.0
simran,81.67
jeet,77.67

In [18]:
comguess = randint(1, 50)
comguessb

20

Guess Game Assignment

    computer will think a random number between 1-50
    
    user will get 5 chances to guess the number
    
        if anytime user guess is out of range just show a warning that guess in limit 1-50
        but do not reduce users chance
    
    at each chance check and do following
    
        if user guess is lower than computer guess just print out a Hint: guess a higher number
        if user guess is higher than computer guess just print out a Hint: guess a lower number
        if user guess is correct in any change b/w 1-5 than print out a message You such a master 
        you have won the game and stop your program
    if in all 5 chances user fails to guess correct number than at last print You Such a Looser and also
    print computer guess

Tic Tac Toe game

In [19]:
len('_____________')

13

In [ ]:
_____________
| 1 | 2 | 3 |

In [29]:
print("_"*13)
print(('| {} '*3+'|').format(1, 2, 3))
print("_"*13)
print(('| {} '*3+'|').format(4, 5, 6))
print("_"*13)
print(('| {} '*3+'|').format(7, 8, 9))
print('_'*13)

_____________
| 1 | 2 | 3 |
_____________
| 4 | 5 | 6 |
_____________
| 7 | 8 | 9 |
_____________

In [20]:
pos = [ ' ' ]* 9
pos

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [45]:
def print_board(pos):
    """
        logic to print tic tac toe board
    """
    c = 0
    while c < 9:
        x,y,z = pos[c], pos[c+1], pos[c+2]
        print("_"*13)
        print(('| {} '*3+'|').format(x,y,z))
        c += 3
    else:
        print("_"*13)

In [46]:
print_board([ ' ']*9)

_____________
|   |   |   |
_____________
|   |   |   |
_____________
|   |   |   |
_____________

In [48]:
print_board([ ' ', 'X', ' ', ' ', ' ', '0', 'X', ' ', '0'])

_____________
|   | X |   |
_____________
|   |   | 0 |
_____________
| X |   | 0 |
_____________

In [51]:
def table(num):
    """
        positional arguments
    """
    for var in range(1, 11):
        print(f"{num}X{var}={num*var}")

In [52]:
table(5) # calling

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [53]:
def add(x, y):
    return x + y

In [54]:
add(1, 3)

4

In [55]:
add('sachin ', 'yadav')

'sachin yadav'

In [56]:
add([1, 2,3 , 4], ['java', 'c', 'c++'])

[1, 2, 3, 4, 'java', 'c', 'c++']

**positional arguments**

**default arguments**

**multiple-length args**

**multiple-length kwargs**

In [66]:
def greatest(a, b, c):
    """
        local variable a, b, c, we also keywords
        a, b, c are positional argument so it is complusory to pass them 
        whenever you call this function
    """
    print(f"a = {a}, b = {b}, c = {c}")
    if a >= b and a >= c:
        return a
    elif b >= c:
        return b
    else: 
        return c

In [70]:
r = greatest(c=3, b=2, a=10) # key word argument
print('result = ', r)

a = 10, b = 2, c = 3
result =  10

In [71]:
greatest(c=4, b=2, 10)

SyntaxError: positional argument follows keyword argument (<ipython-input-71-8c9917af7292>, line 1)

In [72]:
greatest(10, c=2, b=3)

a = 10, b = 3, c = 2

10

In [62]:
greatest(4, 3, 5)  #positionally

5

In [63]:
greatest(1, 4)

TypeError: greatest() missing 1 required positional argument: 'c'

In [74]:
def func(name, age=18):
    """
        name is positional argument and age is default argument
    """
    if age > 18:
        print(f"{name} can drive.")
    else:
        print(f"{name} can not drive.")

In [76]:
func('ram')

ram can not drive.

In [77]:
func('Sachin', 24)

Sachin can drive.

In [78]:
func(age=13, name='ravi') # keyword style

ravi can not drive.

In [82]:
def sq_sum(a, b=0):
    return a**2 + b**2

In [83]:
sq_sum(1, 3)

10

In [84]:
sq_sum(5)

25

In [85]:
sq_sum(1, 2, 3, 4, 5, )

TypeError: sq_sum() takes from 1 to 2 positional arguments but 5 were given

In [86]:
def func(*args):
    print(args, type(args))

In [87]:
func()

() <class 'tuple'>

In [88]:
func(1)

(1,) <class 'tuple'>

In [89]:
func(1, 'java', 'c', 'c++', 3, 4, 5)

(1, 'java', 'c', 'c++', 3, 4, 5) <class 'tuple'>

In [90]:
def sq_sum(*args):
    s = 0
    for item in args:
        s += item**2
    return s

In [91]:
sq_sum()

0

In [92]:
sq_sum(4)

16

In [93]:
sq_sum(1, 2, 3, 4, )

30

In [94]:
sq_sum(1,6 ,3, 4, 5)

87

In [96]:
sq_sum(a = 10, b=100) # multiple length positional arguments

TypeError: sq_sum() got an unexpected keyword argument 'a'

Tommorrow

    kwargs, recursion, closures, decorators, generators
    
    lambda, map, filter, reduce 
    
    OOPs